<% cache locale do %>
<div class="center jumbotron">
  <h1><%= t '.criteria' %></h1>
  <!-- This page quickly shows some information about the Criteria. -->
  <p><a href='https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md'>
  <%= t '.detailed_criteria_on_github' %></a></p>
  <table class="table table-bordered table-striped table-responsive">
    <tr>
      <th><%= t '.level' %></th>
      <th><%= t '.total_active' %></th>
      <th><%= t '.must' %></th>
      <th><%= t '.should' %></th>
      <th><%= t '.suggested' %></th>
      <th><%= t '.allow_na' %></th>
      <th><%= t '.require_url' %></th>
      <th><%= t '.details' %></th>
      <th><%= t '.future' %></th>
    </tr>
    <% ['0', '1', '2'].each do |level| %>
      <tr>
        <% future_criteria, active_criteria =
             Criteria[level].values.partition(&:future?) %>
        <td><%= t "projects.form_early.level.#{level}" %></td>
        <td><%= active_criteria.count %></td>
        <td><%= active_criteria.count(&:must?) %></td>
        <td><%= active_criteria.count(&:should?) %></td>
        <td><%= active_criteria.count(&:suggested?) %></td>
        <td><%= active_criteria.count(&:na_allowed?) %></td>
        <td><%= active_criteria.count(&:met_url_required?) %></td>
        <td><%= active_criteria.count(&:details_present?) %></td>
        <td><%= future_criteria.count %></td>
      </tr>
    <% end %>
  </table>
  <p><%= t '.project_stats_html' %></p>
</div>
<% end %>
