<div class="center jumbotron">
  <h1>Critères</h1>
  <!-- This page quickly shows some information about the Criteria. -->
  <p>
  <a href='https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/doc/criteria.md'>Les critères détaillés sont disponibles sur GitHub</a>.</p>
  <p>
  <% future_criteria, active_criteria =
       Criteria['0'].values.partition(&:future?) %>
  Nombre actuel de critères :
    <%= active_criteria.count %> (actifs)
    + <%= future_criteria.count %> (futurs)
    = <%= Criteria['0'].count %> (total).
  <br>
  Les critères actifs se décomposent en
    <%= active_criteria.count(&:must?) %> MUST,
    <%= active_criteria.count(&:should?) %> SHOULD, et
    <%= active_criteria.count(&:suggested?) %>
    SUGGESTED.
  Parmi les critères actifs,
    <%= active_criteria.count(&:na_allowed?) %> autorisent la mention N/A,
    <%= active_criteria.count(&:met_url_required?) %>
    nécessitent une URL pour être atteints, et
    <%= active_criteria.count { |criterion| criterion.details_present? } %>
    nécessitent des détails dans leur description.
  <p>
  Il existe <%= Project.count %> soumissions de projets ;
  <%= Project.passing.count %> ont obtenu le badge et
  <%= Project.in_progress.count %> sont en cours d'obtention.
  <p>
  Vous pouvez voir des statistiques sur les projets au cours du temps sur la
  <a href="/project_stats">page des statistiques du projet</a>.
</div>
