<% cache locale do %>
<div class="row">
<div class="col-md-12">
  <%= t 'criteria_discussion.intro_p01_html' %>
  <%= t 'criteria_discussion.intro_p02_html' %>
  <%= t 'criteria_discussion.intro_p03_html' %>
  <%= t 'criteria_discussion.intro_p04_html' %>
  <%= t 'criteria_discussion.intro_p05_html' %>
  <%= t 'criteria_discussion.intro_p06_html' %>
  <%= t 'criteria_discussion.intro_p07_html' %>
  <%= t 'criteria_discussion.intro_p08_html' %>
  <%= t 'criteria_discussion.structure_p01_html' %>
  <%= t 'criteria_discussion.structure_p02_html' %>
  <%= t 'criteria_discussion.structure_p03_html' %>
  <%= t 'criteria_discussion.other_p01_html' %>
  <%= t 'criteria_discussion.other_p02_html' %>
  <%= t 'criteria_discussion.automation_p01_html' %>
  <%= t 'criteria_discussion.automation_p02_html' %>
  <%= t 'criteria_discussion.automation_p03_html' %>
  <%= t 'criteria_discussion.automation_p04_html' %>
  <%= t 'criteria_discussion.changes_p01_html' %>
  <%= t 'criteria_discussion.changes_p02_html' %>
  <%= t 'criteria_discussion.changes_p03_html' %>
  <%= t 'criteria_discussion.keywords_p01_html' %>
  <%= t 'criteria_discussion.keywords_p02_html' %>
  <%= t 'criteria_discussion.keywords_p03_html' %>
  <%= t 'criteria_discussion.keywords_p04_html' %>
  <%= t 'criteria_discussion.keywords_p05_html' %>
  <%= t 'criteria_discussion.keywords_p06_html' %>
  <%= t 'criteria_discussion.keywords_p07_html' %>
  <%= t 'criteria_discussion.achieving_p01_html' %>
  <%= t 'criteria_discussion.achieving_p02_html' %>
  <%= t 'criteria_discussion.achieving_p03_html' %>
  <%= t 'criteria_discussion.achieving_p04_html' %>
  <%= t 'criteria_discussion.achieving_p05_html' %>
  <%= t 'criteria_discussion.achieving_p06_html' %>
  <%= t 'criteria_discussion.terminology_p01_html' %>
  <%= t 'criteria_discussion.terminology_p02_html' %>
  <%= t 'criteria_discussion.terminology_p03_html' %>
  <%= t 'criteria_discussion.terminology_p04_html' %>
  <%= t 'criteria_discussion.terminology_p05_html' %>
  <%= t 'criteria_discussion.terminology_p06_html' %>
  <%= t 'criteria_discussion.terminology_p07_html' %>
  <%= t 'criteria_discussion.terminology_p08_html' %>
  <%= t 'criteria_discussion.terminology_p09_html' %>
  <%= t 'criteria_discussion.terminology_p10_html' %>
  <%= t 'criteria_discussion.noncriteria_p01_html' %>
  <%= t 'criteria_discussion.noncriteria_p02_html' %>
  <%= t 'criteria_discussion.noncriteria_p03_html' %>
  <%= t 'criteria_discussion.noncriteria_p04_html' %>
  <%= t 'criteria_discussion.noncriteria_p05_html' %>
  <%= t 'criteria_discussion.noncriteria_p06_html' %>
  <%= t 'criteria_discussion.noncriteria_p07_html' %>
  <%= t 'criteria_discussion.noncriteria_p08_html' %>
  <%= t 'criteria_discussion.noncriteria_p09_html' %>
  <%= t 'criteria_discussion.identify_p01_html' %>
  <%= t 'criteria_discussion.identify_p02_html' %>
  <%= t 'criteria_discussion.criteria_why_p01_html' %>
  <%= t 'criteria_discussion.criteria_why_p02_html' %>
  <%= t 'criteria_discussion.criteria_why_p03_html' %>
  <%= t 'criteria_discussion.criteria_why_p04_html' %>
  <%= t 'criteria_discussion.criteria_why_p05_html' %>
  <%= t 'criteria_discussion.self_certification_p01_html' %>
  <%= t 'criteria_discussion.self_certification_p02_html' %>
</div></div>
<% end %>
