<% cache locale do %>
<div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 class="best-practices-banner"><%=
        t('static_pages.home.badge_program') %></h2>
      <%= link_to t('static_pages.home.get_your_badge'),
                    new_project_path,
                    class:"btn btn-success btn-main-getbadge btn-main-margin" %>
      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p1_html') %>
      </p>

      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p2_html') %>
      </p>

      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p3_html') %>
      </p>
    </div>
    <div class="col-md-4 col-sm-5">
      <!-- <div class="home-badge pull-right"></div> -->
      <div class="home-badge center-block"></div>
      <!-- <div class="user-badge1 center-block"><a href="/projects/29">
        <span class="link-spanner"></span>
    </a></div> --></p>
</p>
</p>
    <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10"></p>
              </p>
              <p id="LogosHeader">Some well-known projects that have earned a badge:</p></div>
              <div class="col-sm-1"></div>
    </div>
        <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-xs-12 col-sm-5">
      <a href="/projects/34" class="earner-logo center-block">
        <%= image_tag 'linux.png', width: 32, height: 32,
                      alt: 'Linux kernel', title: 'Linux kernel' %></a>
      <a href="/projects/42" class="earner-logo center-block">
        <%= image_tag 'GitLab.png', width: 32, height: 32,
                      alt: 'GitLab', title: 'GitLab' %></a>
      <a href="/projects/954" class="earner-logo center-block">
        <%= image_tag 'Hyperledger.png', width: 32, height: 32,
                      alt: 'Hyperledger', title: 'Hyperledger' %></a>
      <a href="/projects/29" class="earner-logo center-block">
        <%= image_tag 'nodejs.png', width: 32, height: 32,
                      alt: 'nodejs', title: 'nodejs' %></a>

      <a href="/projects/307" class="earner-logo center-block">
        <%= image_tag 'libreOffice.png', width: 32, height: 32,
                      alt: 'libreOffice', title: 'libreOffice' %></a>
      <a href="/projects/63" class="earner-logo center-block">
        <%= image_tag 'curl.png', width: 32, height: 32,
                      alt: 'curl', title: 'curl' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'Kubernetes.png', width: 32, height: 32,
                      alt: 'Kubernetes', title: 'Kubernetes' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'Prometheus.png', width: 32, height: 32,
                      alt: 'Prometheus', title: 'Prometheus' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'pkgsrc.png', width: 32, height: 32,
                      alt: 'pkgsrc', title: 'pkgsrc' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'XenProject.png', width: 32, height: 32,
                      alt: 'XenProject', title: 'XenProject' %></a>
    </div>
    <div class="col-xs-12 col-sm-5">
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'Openstack.png', width: 32, height: 32,
                      alt: 'Openstack', title: 'Openstack' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'NVM.png', width: 32, height: 32,
                      alt: 'NVM', title: 'NVM' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'zephyr.png', width: 32, height: 32,
                      alt: 'zephyr', title: 'zephyr' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'Syncope.png', width: 32, height: 32,
                      alt: 'Syncope', title: 'Syncope' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'libcloud.png', width: 32, height: 32,
                      alt: 'libcloud', title: 'libcloud' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'OpenSSL.png', width: 32, height: 32,
                      alt: 'OpenSSL', title: 'OpenSSL' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'BRLCAD.png', width: 32, height: 32,
                      alt: 'BRLCAD', title: 'BRLCAD' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'nextcloud.png', width: 32, height: 32,
                      alt: 'nextcloud', title: 'nextcloud' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'GnuPG.png', width: 32, height: 32,
                      alt: 'GnuPG', title: 'GnuPG' %></a>
      <a href="/projects/" class="earner-logo center-block">
        <%= image_tag 'OPNFV.png', width: 32, height: 32,
                      alt: 'OPNFV', title: 'OPNFV' %></a>
    </div>
    <div class="col-sm-1"></div>
    </div>
    </div>
  </div>
  <br>
<% end %>
