<% cache locale do %>
<div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 class="best-practices-banner"><%=
        t('static_pages.home.badge_program') %></h2>
      <%= link_to t('static_pages.home.get_your_badge'),
                    new_project_path,
                    class:"btn btn-success btn-main-getbadge btn-main-margin" %>
      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p1_html') %>
      </p>

      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p2_html') %>
      </p>

      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p3_html') %>
        <%= t('static_pages.home.share_header_html') %>
        <%
          # See https://jonsuh.com/blog/social-share-links/#use-share-urls
          # Make URLs for Twitter Reddit Facebook LinkedIn Google+
          twitter_url = 'https://twitter.com/intent/tweet/?' +
            {
              text: t('static_pages.home.check_us_out'),
              url: request.original_url
            }.to_param.html_safe
          reddit_url =
            'https://www.reddit.com/submit/?' +
            { url: request.original_url }.to_param.html_safe
          facebook_url =
            'https://www.facebook.com/sharer/sharer.php?' +
            { u: request.original_url }.to_param.html_safe
          linkedin_url =
            'https://www.linkedin.com/shareArticle?' +
            {
              mini: true,
              url: request.original_url,
              title: t('static_pages.home.check_us_out'),
              source: request.original_url,
              summary: t('static_pages.home.check_us_out')
            }.to_param.html_safe
          googleplus_url =
            'https://plus.google.com/share?' +
            { url: request.original_url }.to_param.html_safe
          mailto_url =
            'mailto:?' +
            {
              subject: t('static_pages.home.check_us_out') + ' ' +
                       request.original_url,
              body: t('static_pages.home.check_us_out') + "\n" +
                       request.original_url
            }.to_param.html_safe
        %>

        <a href="<%= twitter_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.twitter') %></a>

        <a href="<%= reddit_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-reddit-alien" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.reddit') %></a>

        <a href="<%= facebook_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.facebook') %></a>

        <a href="<%= linkedin_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.linkedin') %></a>

        <a href="<%= googleplus_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.googleplus') %></a>

        <a href="<%= mailto_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.email') %></a>


    </div>
    <div class="col-md-4 col-sm-5">
      <!-- <div class="home-badge pull-right"></div> -->
      <div class="home-badge center-block"></div>
      <!-- <div class="user-badge1 center-block"><a href="/projects/29">
        <span class="link-spanner"></span>
    </a></div> --></p>
</p>
</p>
    <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10"></p>
              </p>
              <p id="LogosHeader">Some well-known projects that have earned a badge:</p></div>
              <div class="col-sm-1"></div>
    </div>
        <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-xs-12 col-sm-5">
      <a id="user-badge1" href="/projects/34" class="center-block"> Linux Foundation </a></p>
      <a id="user-badge2" href="/projects/42" class="center-block"> GitLab </a></p>
      <a id="user-badge3" href="/projects/954" class="center-block"> Hyperledger</a></p>
      <a id="user-badge4" href="/projects/29" class="center-block"> nodejs </a></p>
      <a id="user-badge5" href="/projects/307" class="center-block"> libreOffice </a></p>
      <a id="user-badge6" href="/projects/63" class="center-block"> curl </a></p>
      <a id="user-badge7" href="/projects" class="center-block"> Kubernetes </a></p>
      <a id="user-badge8" href="/projects" class="center-block"> Prometheus </a></p>
      <a id="user-badge9" href="/projects" class="center-block"> pkgsrc </a></p>
      <a id="user-badge10" href="/projects" class="center-block"> XenProject </a></p>
    </div>
    <div class="col-xs-12 col-sm-5">
      <a id="user-badge11" href="/projects" class="center-block"> Openstack </a></p>
      <a id="user-badge12" href="/projects" class="center-block"> NVM </a></p>
      <a id="user-badge13" href="/projects" class="center-block"> zephyr </a></p>
      <a id="user-badge14" href="/projects" class="center-block"> Syncope </a></p>
      <a id="user-badge15" href="/projects" class="center-block"> libcloud </a></p>
      <a id="user-badge16" href="/projects" class="center-block">OpenSSL</a></p>
      <a id="user-badge17" href="/projects" class="center-block"> BRLCAD </a></p>
      <a id="user-badge18" href="/projects" class="center-block"> nextcloud </a></p>
      <a id="user-badge19" href="/projects" class="center-block"> GnuPG </a></p>
      <a id="user-badge20" href="/projects" class="center-block"> OPNFV </a></p>
    </div>
    <div class="col-sm-1"></div>
    </div>
      <!-- <div class="user-badge2 center-block"></div>
      <div class="user-badge3 center-block"></div>
      <div class="user-badge4 center-block"></div>
      <div class="user-badge5 center-block"></div>
      <div class="user-badge6 center-block"></div>
      <div class="user-badge7 center-block"></div>
      <div class="user-badge8 center-block"></div>
      <div class="user-badge9 center-block"></div>
      <div class="user-badge10 center-block"></div>
      <div class="user-badge11 center-block"></div>
      <div class="user-badge12 center-block"></div>
      <div class="user-badge13 center-block"></div>
      <div class="user-badge14 center-block"></div>
      <div class="user-badge15 center-block"></div>
      <div class="user-badge16 center-block"></div>
      <div class="user-badge17 center-block"></div>
      <div class="user-badge18 center-block"></div>
      <div class="user-badge19 center-block"></div>
      <div class="user-badge10 center-block"></div> -->
    </div>
  </div>
  <br>
<% end %>
