<% cache locale do %>
<div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 class="best-practices-banner"><%=
        t('static_pages.home.badge_program') %></h2>
      <%= link_to t('static_pages.home.get_your_badge'),
                    new_project_path,
                    class:"btn btn-success btn-main-getbadge btn-main-margin" %>
      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p1_html') %>
      </p>

      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p2_html') %>
      </p>

      <p class="no-padding best-practices-main-text">
        <%= t('static_pages.home.p3_html') %>
        <%= t('static_pages.home.share_header_html') %>
        <%
          # See https://jonsuh.com/blog/social-share-links/#use-share-urls
          # Make URLs for Twitter Reddit Facebook LinkedIn Google+
          twitter_url = 'https://twitter.com/intent/tweet/?' +
            {
              text: t('static_pages.home.check_us_out'),
              url: request.original_url
            }.to_param.html_safe
          reddit_url =
            'https://www.reddit.com/submit/?' +
            { url: request.original_url }.to_param.html_safe
          facebook_url =
            'https://www.facebook.com/sharer/sharer.php?' +
            { u: request.original_url }.to_param.html_safe
          linkedin_url =
            'https://www.linkedin.com/shareArticle?' +
            {
              mini: true,
              url: request.original_url,
              title: t('static_pages.home.check_us_out'),
              source: request.original_url,
              summary: t('static_pages.home.check_us_out')
            }.to_param.html_safe
          googleplus_url =
            'https://plus.google.com/share?' +
            { url: request.original_url }.to_param.html_safe
          mailto_url =
            'mailto:?' +
            {
              subject: t('static_pages.home.check_us_out') + ' ' +
                       request.original_url,
              body: t('static_pages.home.check_us_out') + "\n" +
                       request.original_url
            }.to_param.html_safe
        %>

        <a href="<%= twitter_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.twitter') %></a>

        <a href="<%= reddit_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-reddit-alien" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.reddit') %></a>

        <a href="<%= facebook_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.facebook') %></a>

        <a href="<%= linkedin_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.linkedin') %></a>

        <a href="<%= googleplus_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.googleplus') %></a>

        <a href="<%= mailto_url %>" class="btn btn-primary btn-lg btn-main-margin"
        target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<%= t('static_pages.home.email') %></a>


    </div>
    <%
       projects_dir = '/projects'
       if (I18n.locale && I18n.locale != :en)
         projects_dir = projects_dir + '/' + I18n.locale.to_s
       end
    %>
    <div class="col-md-4 col-sm-5">
      <!-- <div class="home-badge pull-right"></div> -->
      <div class="home-badge center-block"></div>
      <!-- <div class="user-badge1 center-block"><a href="/projects/29">
        <span class="link-spanner"></span>
    </a></div> --></p>
</p>
</p>
    <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10"></p>
              </p>
              <p id="LogosHeader">Some well-known projects that have earned a badge:</p></div>
              <div class="col-sm-1"></div>
    </div>
        <div class="row">
      <!-- <div class="col-sm-1"></div> -->
      <div class="col-xs-12 col-sm-4">
      <a href="<%= projects_dir %>/34" class="earner-logo center-block">
        <%= image_tag 'linux.png', width: 50, height: 50,
                      alt: 'Linux kernel', title: 'Linux kernel' %></a>
      <a href="<%= projects_dir %>/42" class="earner-logo center-block">
        <%= image_tag 'GitLab.png', width: 50, height: 50,
                      alt: 'GitLab', title: 'GitLab' %></a>
      <a href="<%= projects_dir %>/954" class="earner-logo center-block">
        <%= image_tag 'Hyperledger.png', width: 50, height: 50,
                      alt: 'Hyperledger', title: 'Hyperledger' %></a>
      <a href="<%= projects_dir %>/29" class="earner-logo center-block">
        <%= image_tag 'nodejs.png', width: 50, height: 50,
                      alt: 'nodejs', title: 'nodejs' %></a>
      <a href="<%= projects_dir %>/307" class="earner-logo center-block">
        <%= image_tag 'libreOffice.png', width: 50, height: 50,
                      alt: 'libreOffice', title: 'libreOffice' %></a>
      <a href="<%= projects_dir %>/63" class="earner-logo center-block">
        <%= image_tag 'curl.png', width: 50, height: 50,
                      alt: 'curl', title: 'curl' %></a>
      <a href="<%= projects_dir %>/569" class="earner-logo center-block">
        <%= image_tag 'Kubernetes.png', width: 50, height: 50,
                      alt: 'Kubernetes', title: 'Kubernetes' %></a>
      </div>
      <div class="col-xs-12 col-sm-4">
      <a href="<%= projects_dir %>/i486" class="earner-logo center-block">
        <%= image_tag 'Prometheus.png', width: 50, height: 50,
                      alt: 'Prometheus', title: 'Prometheus' %></a>
      <a href="<%= projects_dir %>/112" class="earner-logo center-block">
        <%= image_tag 'pkgsrc.png', width: 50, height: 50,
                      alt: 'pkgsrc', title: 'pkgsrc' %></a>
      <a href="<%= projects_dir %>/374" class="earner-logo center-block">
        <%= image_tag 'XenProject.png', width: 50, height: 50,
                      alt: 'Xen Project', title: 'Xen Project' %></a>
      <a href="<%= projects_dir %>/246" class="earner-logo center-block">
        <%= image_tag 'Openstack.png', width: 50, height: 50,
                      alt: 'OpenStack', title: 'OpenStack' %></a>
      <a href="<%= projects_dir %>/684" class="earner-logo center-block">
        <%= image_tag 'NVM.png', width: 50, height: 50,
                      alt: 'NVM', title: 'NVM' %></a>
      <a href="<%= projects_dir %>/74" class="earner-logo center-block">
        <%= image_tag 'zephyr.png', width: 50, height: 50,
                      alt: 'zephyr', title: 'zephyr' %></a>
      <a href="<%= projects_dir %>/154" class="earner-logo center-block">
        <%= image_tag 'Syncope.png', width: 50, height: 50,
                      alt: 'Syncope', title: 'Syncope' %></a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="<%= projects_dir %>/152" class="earner-logo center-block">
        <%= image_tag 'libcloud.png', width: 50, height: 50,
                      alt: 'libcloud', title: 'libcloud' %></a>
      <a href="<%= projects_dir %>/54" class="earner-logo center-block">
        <%= image_tag 'OpenSSL.png', width: 50, height: 50,
                      alt: 'OpenSSL', title: 'OpenSSL' %></a>
      <a href="<%= projects_dir %>/66" class="earner-logo center-block">
        <%= image_tag 'BRLCAD.png', width: 50, height: 50,
                      alt: 'BRL-CAD', title: 'BRL-CAD' %></a>
      <a href="<%= projects_dir %>/209" class="earner-logo center-block">
        <%= image_tag 'nextcloud.png', width: 50, height: 50,
                      alt: 'nextcloud', title: 'nextcloud' %></a>
      <a href="<%= projects_dir %>/197" class="earner-logo center-block">
        <%= image_tag 'GnuPG.png', width: 50, height: 50,
                      alt: 'GnuPG', title: 'GnuPG' %></a>
      <a href="<%= projects_dir %>/164" class="earner-logo center-block">
        <%= image_tag 'OPNFV.png', width: 50, height: 50,
                      alt: 'OPNFV', title: 'OPNFV' %></a>
    </div>
    <!-- <div class="col-sm-1"></div> -->
    </div>
    </div>
  </div>
  <br>
<% end %>
