<br>
<h1 class='center'>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <div class="center-block">
    <br>
    <br>
    <br>
    <%= link_to "Log in with GitHub", "/auth/github", class: "btn btn-default btn-primary btn-block" %>
    <br><br>
    <div class='center-block h2'>- OR -</div>
    <br><br>
   </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me</span>
      <% end %>

      <%= f.hidden_field :provider, :value => "local" %>
      <%= f.submit "Log in using custom account", class: "btn btn-primary" %>
    <% end %>

    <br><br>
    <%= link_to "No custom account? Sign up now!", signup_path %>
    <br>
    <br>
  </div>
</div>
