<!--div class="center jumbotron"-->
 <br>
 <h1 class="center"><%= t '.signup_header' %></h1>

<% if Rails.application.config.deny_login %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="center-block">
       <%= t('sessions.login_disabled') %>
    </div>
  </div>
</div>

<% else %>

 <br>
 <div class="row">
   <div class="col-md-6 col-md-offset-3">
     <%= link_to t('.intro_github'), login_path %>
     <br><br>
     <%= t '.intro_html' %>
     <br><br>
   </div>
 </div>

 <div class="row">
   <div class="col-md-6 col-md-offset-3">
     <%= form_for(@user) do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <%= f.label :name, t('.name') %>
       <%= f.text_field :name, class:"form-control" %>

       <%= f.label :email, t('.email') %>
       <%= f.email_field :email, class:"form-control" %>

       <%= f.label :password, t('.password') %>
       <%= f.password_field :password, autocomplete: "off", class:"form-control", required: true, minlength: User::MIN_PASSWORD_LENGTH %>

       <%= f.label :password_confirmation, t('.password_confirmation') %>
       <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", required: true, minlength: User::MIN_PASSWORD_LENGTH %>
       <%= f.hidden_field :provider, value: "local" %>
       <%= f.submit t('.create_account'), class: "btn btn-primary" %>
     <% end %>
   </div>
 </div>

</div>
<% end %>
