<% require 'cgi' %>
<div class="center">

 <% provide(:title, @user.name) %>
 <div class="row">
   <aside class="col-md-12">
     <section class="user_info">
       <h3>
         <%= gravatar_for @user %>
         <%= @user.name %>
       </h3>
     </section>
   </aside>
  <div class="col-md-12">
  <% if @user.projects.any? %>
  <br><br>
    <%= render 'projects/table', projects: @projects %>
    <%= will_paginate @projects %>
  <% end %>

  <% if @edit_projects.present? %>
  <br>
  <h2>Other Projects you can edit</h2>
  <br>
   <%= render 'projects/table', projects: @edit_projects %>
  <% end %>

  <% if @user.provider == 'github' && @user.nickname? %>
   <br><br>
   <p>
   See <a href="https://github.com/<%= @user.nickname %>">this user's
   external page</a>.
  <% end %>
  <% if current_user&.admin? %>
    As an admin, you may also:
    <% if @user.email? %>
      <a href="mailto:<%= CGI::escape(@user.email).html_safe %>">email
        <%= @user.email %></a> |
    <% end %>
    <%= link_to "delete", @user, method: :delete,
                                 data: { confirm: "Are you sure?" } %>
  <% end %>
 </div>
</div>
</div>
