<div class="jumbotron">

 <% provide(:title, @user.name) %>
 <div class="row">
   <aside class="col-md-12">
     <section class="user_info">
       <h3>
         <%= gravatar_for @user %>
         <%= @user.name %>
       </h3>
     </section>
   </aside>
  <div class="col-md-12">
  <% if @user.projects.any? %>
  <h3 class ="center">Projects (<%= @user.projects.count %>)</h3>
   <table class="project_index" style="margin-left:auto; margin-right:auto">
     <thead>
       <tr>
         <th>Name</th>
         <th>Description</th>
         <th>Website</th>
         <th>License</th>
         <th>Added</th>
       </tr>
     </thead>

     <tbody>
       <% @projects.each do |project| %>
         <tr>
           <td><%= link_to (project.name.presence || "(Name Unknown)"),
                   project %></td>
           <td><%= project.description %></td>
           <td><%= project.project_url %></td>
           <td><%= project.license %></td>
           <td><%= project.created_at.to_time.iso8601 %></td>
         </tr>
       <% end %>
     </tbody>
   </table>
  <% end %>
 </div>

</div>

</div>
