<div class="jumbotron">

 <% provide(:title, @user.name) %>
 <div class="row">
   <aside class="col-md-12">
     <section class="user_info">
       <h3>
         <%= gravatar_for @user %>
         <%= @user.name %>
       </h3>
     </section>
   </aside>
  <div class="col-md-12">
  <% if @user.projects.any? %>
  <br><br>
   <table class="table table-bordered table-striped table-responsive">
     <thead>
       <tr>
         <th>Name</th>
         <th>Description</th>
         <th>Website</th>
         <th>License</th>
         <th>Badge</th>
       </tr>
     </thead>

     <tbody>
       <% @projects.each do |project| %>
         <tr>
           <td><%= link_to (project.name.presence || "(Name Unknown)"),
                   project %></td>
           <td><%= project.description %></td>
           <td>
             <%# Defend against bad data - link only if plausible URL. %>
             <% if project.project_homepage_url.presence &&
                   project.project_homepage_url.match(/\Ahttps?:\/\//) %>
               <a href="<%= project.project_homepage_url %>"><%= project.project_homepage_url %></a>
             <% else %>
               <%= project.project_homepage_url %>
             <% end %>
           </td>
           <td><%= project.license %></td>
           <td><%= link_to "<img src='/projects/#{project.id}/badge'>".html_safe,
                           project %></td>
         </tr>
       <% end %>
     </tbody>
   </table>
  <% end %>
 </div>

</div>

</div>
