<% require 'cgi' %>
<div class="center">

 <% provide(:title, @user.name) %>
 <div class="row">
   <aside class="col-md-12">
     <section class="user_info">
       <h3>
         <%= avatar_for @user %>
         <%= @user.name || @user.nickname %>
         <% if current_user && (@user == current_user || current_user.admin?) %>
           <%= link_to t('.edit_user'),
                       edit_user_path(@user), class: 'btn btn-primary' %>
         <% end %>
       </h3>
     </section>
   </aside>
  <div class="col-md-12">
  <% if @user.projects.any? %>
  <br><br>
    <%= render 'projects/table', projects: @projects %>
    <%= will_paginate @projects %>
  <% end %>

  <% if @edit_projects.present? %>
  <br>
  <h2><%= t '.other_projects_edit' %></h2>
  <br>
   <%= render 'projects/table', projects: @edit_projects %>
  <% end %>

  <% if @user.provider == 'github' && @user.nickname? %>
   <br><br>
   <p>
   <a href="https://github.com/<%= @user.nickname %>"><%=
   t ('.see_external') %></a>
  <% end %>
  <% if current_user&.admin? %>
    <%= t '.as_admin' %>
    <% if @user.email? %>
      <a href="mailto:<%= CGI::escape(@user.email).html_safe %>"><%=
        t('.send_email_to') + @user.email.to_s %></a> |
    <% end %>
    <%= link_to t('.delete_link_name'), @user, method: :delete,
                data: { confirm: t('.confirm_delete') } %>
  <% end %>
 </div>
</div>
</div>
