
<div class="row">
  <div class="col-md-4 col-md-offset-4">

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <%= f.text_field :name, class:"form-control", placeholder:'OSS Project Name' %>

    <%= f.text_area :description, class:"form-control",  placeholder:'Project Description' %>

    <%= f.text_field :website, class:"form-control",  placeholder:'Project Website URL' %>

    <%= f.text_field :license, class:"form-control",  placeholder:'OSS License' %>

    <%= f.text_field :repo, class:"form-control",  placeholder:'Repository URL' %>

    <%= f.submit 'Submit', class:"btn btn-primary" %>

<% end %>

  </div>
</div>
