
<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@project.errors.count, "error") %>.
      </div>
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, class:"form-control", placeholder:'OSS Project Name' %>

    <%= f.text_area :description, class:"form-control",  placeholder:'Project Description' %>

    <%= f.text_field :website, class:"form-control",  placeholder:'Project Website URL' %>

    <%= f.text_field :license, class:"form-control",  placeholder:'OSS License' %>

    <%= f.text_field :repo, class:"form-control",  placeholder:'Repository URL' %>

    <%= f.submit 'Submit', class:"btn btn-primary" %>

<% end %>

  </div>
</div>
