<!-- From _status_chooser -->
      <% status_symbol = (criteria + "_status").to_sym %>
      <div class="col-md-3 criteria-radio">
        <%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Met'%> Met
        <% end %>
        <%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Unmet' %> Unmet
        <% end %>
        <%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, '?', :checked => true %> &nbsp;?&nbsp;
        <% end %>
        <%= image_tag("/assets/Thumbs_down_font_awesome.svg", size: "20x20", alt: "Thumbs down", id: criteria + "_enough") %>
      </div>

