    <!-- From _status_chooser -->
    <div class="row">
      <% status_symbol = (criteria + "_status").to_sym %>
      <% justification_symbol = (criteria + "_justification").to_sym %>
      <% criteria_shortname = criteria.gsub("_", "-") %>
      <div class="col-md-3 criteria-radio">
        <%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Met'%> Met
        <% end %>
        <%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Unmet' %> Unmet
        <% end %>
        <%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, '?' %> &nbsp;?&nbsp;
        <% end %>
        <%= image_tag("/assets/Thumbs_down_font_awesome.svg", size: "20x20", alt: "Thumbs down", id: criteria + "_enough") %>
      </div>
      <div class='col-md-9 criteria-desc'>
         <span><%= desc %><sup>[<%= criteria_shortname %>]</sup></span>
         <%= f.text_field justification_symbol, class:"form-control", hide_label: true, placeholder:'Please explain' %>
      </div>
    </div>
