    <div class="row">
      <% status_symbol = (criteria + "_status").to_sym %>
      <% justification_symbol = (criteria + "_justification").to_sym %>
      <% criteria_shortname = criteria.gsub("_", "-") %>
      <div class="col-md-3 criteria-radio">
       <table class='borderless'><tbody><tr>
        <td><%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Met', disabled: is_disabled %> Met
        <% end %>
        <td><%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Unmet', disabled: is_disabled  %> Unmet
        <% end %>
        <td><%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, '?', disabled: is_disabled  %> &nbsp;?&nbsp;
        <% end %>
        <td><%= image_tag("/assets/Clear.gif", size: "20x20", id: criteria + "_enough") %>
       </tr></tbody></table>
      </div>
      <div class='col-md-9 criteria-desc'>
         <span><%= raw desc %>
         <%= if !defined?(details).nil? then
              render(partial: "details", locals: {f: f,
                       criteria: criteria, details: details})
             end %>
         <sup>[<%= criteria_shortname %>]</sup></span>
         <%= f.text_field justification_symbol, class:"form-control", hide_label: true, placeholder:'Please explain', disabled: is_disabled  %>
      </div>
    </div>
