    <div class="row">
      <% status_symbol = (criteria + "_status").to_sym %>
      <% justification_symbol = (criteria + "_justification").to_sym %>
      <% criteria_shortname = criteria.gsub("_", "-") %>
      <div class="col-md-3 criteria-radio">
       <table class='borderless'><tbody><tr>
        <td><%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Met', disabled: is_disabled %> Met
        <% end %>
        <td><%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, 'Unmet', disabled: is_disabled  %> Unmet
        <% end %>
        <td><%= f.label status_symbol do %>
          <%= f.radio_button status_symbol, '?', disabled: is_disabled  %> &nbsp;?&nbsp;
        <% end %>
        <td><%= image_tag("/assets/Clear.gif", size: "20x20", id: criteria + "_enough") %>
       </tr></tbody></table>
      </div>
      <div class='col-md-9 criteria-desc'>
          <%= raw desc %>
          <%= if !defined?(details).nil? then
              render(partial: "details", locals: {f: f,
                       criteria: criteria, details: details})
             end %>
         <sup>[<%= criteria_shortname %>]</sup>
         <div id="<%= criteria + '_met_placeholder' %>" class="hidden">
          <%= if defined?(met_placeholder).nil?
                 raw "(Optional) Please explain how this is met, including 1+ key URLs."
               else
                 raw "(Optional)" + met_placeholder
               end %>
         </div>
         <div id="<%= criteria + '_unmet_placeholder' %>" class="hidden">
          <%= if defined?(unmet_placeholder).nil?
                 raw "Please explain why it's okay this is unmet, including 1+ key URLs."
               else
                 raw unmet_placeholder
               end %>
         </div>
         <%= f.text_field justification_symbol, class:"form-control", hide_label: true, placeholder:'Please explain', disabled: is_disabled  %>
      </div>
    </div>
