<% content_for :nav_extras do %>
  <li>
    <% if logged_in? %>
      <%= link_to 'ADD', new_project_path %>
    <% end %>
  </li>
<% end %>

<div class="row">
<div class="col-xs-12">
<div class="center jumbotron">
<h2>OSS Projects</h2>
<br>
<%= link_to 'Add New Project', new_project_path, class:"btn btn-success" %>
<br>
<br>
<table class="project_index" style="margin-left:auto; margin-right:auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>License</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to (project.name.presence || "(Name Unknown)"),
                project %></td>
        <td><%= project.description %></td>
        <td>
          <%# Defend against bad data - link only if plausible URL. %>
          <% if project.project_url.presence &&
                project.project_url.match(/\Ahttps?:\/\//) %>
            <a href="<%= project.project_url %>"><%= project.project_url %></a>
          <% else %>
            <%= project.project_url %>
          <% end %>
        </td>
        <td><%= project.license %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
