
<div class="center jumbotron">
<h2>OSS Projects</h2>
<br>
<%= link_to 'Add New Project', new_project_path, class:"btn btn-success" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>License</th>
      <th>Repo</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.description %></td>
        <td><%= project.project_url %></td>
        <td><%= project.license %></td>
        <td><%= project.repo_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
