
<% if logged_in? %>
  <div class='row'>
  <div class="col-md-6 col-md-offset-3">
  <br>
  <h2 class='center'>New Badge</h2>
  <br>
  <% if current_user.provider == 'github'%>
     <h4>You may select from one of your GitHub repos <i>OR</i>
           provide information about some other project.</h4>
     <br>
     <%= form_for(@project) do |f| %>
       <%= f.collection_select :repo_url, github_select, :last, :first, { prompt: 'Select one of your Github repos', disabled: lambda{ |repo| repo.last == 'none' }} %>
       <%= f.submit 'Submit GitHub Repository', class:"btn btn-primary" %>
     <% end %>

     <br><h2 class='center'>OR</h2>
  <% end %>
  <br>
  <%= form_for(@project) do |f| %>
      <span>What is the URL for the project (as a whole)?</span>
      <%= f.text_field :project_url, class:"form-control", hide_label: true, placeholder:'Project Website URL' %>
      <span>What is the URL for the version control repository
            (it may the same as the project URL)?</span>
      <%= f.text_field :repo_url, class:"form-control", hide_label: true, placeholder:'Project Repo URL' %>
     <%= f.submit 'Submit URL', class:"btn btn-primary" %>
  <% end %>
  </div>
  </div>
<% else %>
  <% flash.now[:danger] = "Please sign in to add a project!"%>
  <%= render :template => "sessions/new" %>
<% end %>
