<div class="jumbotron">

<h2 class="left">OSS Project Basics</h4>
<br>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.project_url %>
</p>

<p>
  <strong>License(s):</strong>
  <%= @project.license %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @project.repo_url %>
</p>

<hr>
<p>
  <strong>Comments:</strong>
  <%= @project.general_comments %>
</p>

<p>
<%= link_to 'Back', projects_path %>
<% if logged_in? %>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Remove', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>


</div>
