<%= form_for(@project_stat) do |f| %>
  <% if @project_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_stat.errors.count, "error") %> prohibited this project_stat from being saved:</h2>

      <ul>
      <% @project_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :when %><br>
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :all %><br>
    <%= f.number_field :all %>
  </div>
  <div class="field">
    <%= f.label :percent_ge_25 %><br>
    <%= f.number_field :percent_ge_25 %>
  </div>
  <div class="field">
    <%= f.label :percent_ge_50 %><br>
    <%= f.number_field :percent_ge_50 %>
  </div>
  <div class="field">
    <%= f.label :percent_ge_75 %><br>
    <%= f.number_field :percent_ge_75 %>
  </div>
  <div class="field">
    <%= f.label :percent_ge_90 %><br>
    <%= f.number_field :percent_ge_90 %>
  </div>
  <div class="field">
    <%= f.label :percent_ge_100 %><br>
    <%= f.number_field :percent_ge_100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
