<p id="notice"><%= notice %></p>

<h1>Project Stats</h1>

<p>
This is a temporary view, so that you can see the data.
We plan to add a chart display in the future.

<table>
  <thead>
    <tr>
      <th>When</th>
      <th>All</th>
      <th>&gt;= 25%</th>
      <th>&gt;= 50%</th>
      <th>&gt;= 75%</th>
      <th>&gt;= 90%</th>
      <th>&gt;= 100%</th>
      <th>New in the last day</th>
      <th>Updated in the last day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_stats.each do |project_stat| %>
      <tr>
        <td><%= project_stat.created_at %></td>
        <td><%= project_stat.percent_ge_0 %></td>
        <td><%= project_stat.percent_ge_25 %></td>
        <td><%= project_stat.percent_ge_50 %></td>
        <td><%= project_stat.percent_ge_75 %></td>
        <td><%= project_stat.percent_ge_90 %></td>
        <td><%= project_stat.percent_ge_100 %></td>
        <td><%= project_stat.created_since_yesterday %></td>
        <td><%= project_stat.updated_since_yesterday %></td>
        <td><%= link_to 'Show', project_stat %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
