<p id="notice"><%= notice %></p>

<h1>Project Stats</h1>

All projects

<%
  date_chart_options = {
    scales: {
      xAxes: [{
        type: 'time',
        unit: 'day',
        unitStepSize: 1,
        ticks: { minRotation: 20 },
        time: {
          displayFormats: {
             'day': 'YYYY-MM-DD'
          } } }]}
  }
%>

<%=
  # Show a chart with just total # projects.
  series_dataset = ProjectStat.all.reduce({}) do |h,e|
    h.merge(e.created_at => e.percent_ge_0)
  end
  line_chart series_dataset, library: date_chart_options
%>

<br><br><br>

Projects with non-trivial progress
<%=
  # Show project counts, but skip <25% because that makes chart scale unusable
  gt0_stats = ProjectStat::STAT_VALUES.select do |e|
    e.to_i > 0
  end.freeze
  dataset = gt0_stats.map do |minimum|
    desired_field = 'percent_ge_' + minimum.to_s
    series_dataset = ProjectStat.all.reduce({}) do |h,e|
     h.merge(e.created_at => e[desired_field])
    end
    {name: '>=' + minimum.to_s + '%', data: series_dataset}
  end
  line_chart dataset, library: date_chart_options
%>

<br><br><br>

<%=
  # Show new and edited projects
  dataset = []
  ndays = 7
  actions = ['created', 'updated'].freeze
  actions.each do |action|
    desired_field = action + '_since_yesterday'
    series_dataset = ProjectStat.all.reduce({}) do |h,e|
      h.merge(e.created_at => e[desired_field])
    end
    dataset << {name: 'projects ' + action + ' since day before',
                data: series_dataset}
    # Calculate moving average over ndays
    series_counts = ProjectStat.all.map { |e| e[desired_field] }
    series_moving_average = series_counts.each_cons(ndays).map do |e|
      e.reduce(&:+).to_f/ndays
    end
    moving_average_dataset = {}
    ProjectStat.all.each_with_index do |e, index|
      if index >= ndays
        moving_average_dataset[e.created_at] =
          series_moving_average[index-ndays]
      end
    end
    dataset << {name: 'projects ' + action + " average over #{ndays} days",
                data: moving_average_dataset,
                library: {borderDash: [5,5]}}
  end
  line_chart dataset, colors: ['green', 'darkgreen', 'blue', 'darkblue'],
    library: date_chart_options
%>

<% if current_user&.admin? %>
<br><br><br>
As an admin, you may also see the
next projects scheduled for inactive reminders:

<table class='table-bordered table-striped'>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Updated at</th>
      <th>Last reminder at</th>
      <th>%</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% Project.projects_to_remind.each do |project| %>
      <tr>
        <td><a href="/projects/<%= project.id %>"><%= project.id %></a></td>
        <td><%= project.name %></td>
        <td><%= project.updated_at %></td>
        <td><%= project.last_reminder_at %></td>
        <td><%= project.badge_percentage %>%</td>
        <td><%= project.user_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br><br><br>
<p>
Here is the raw data
(<a href="/project_stats.json">you can also get the raw data
in JSON format</a>):

<table class='table-bordered table-striped'>
  <thead>
    <tr>
      <th>When</th>
      <th>All</th>
      <th>&gt;= 25%</th>
      <th>&gt;= 50%</th>
      <th>&gt;= 75%</th>
      <th>&gt;= 90%</th>
      <th>&gt;= 100%</th>
      <th>New in the last day</th>
      <th>Updated in the last day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_stats.each do |project_stat| %>
      <tr>
        <td><%= project_stat.created_at %></td>
        <td><%= project_stat.percent_ge_0 %></td>
        <td><%= project_stat.percent_ge_25 %></td>
        <td><%= project_stat.percent_ge_50 %></td>
        <td><%= project_stat.percent_ge_75 %></td>
        <td><%= project_stat.percent_ge_90 %></td>
        <td><%= project_stat.percent_ge_100 %></td>
        <td><%= project_stat.created_since_yesterday %></td>
        <td><%= project_stat.updated_since_yesterday %></td>
        <td><%= link_to 'Show', project_stat %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
