<p id="notice"><%= notice %></p>

<h1>Listing Project Stats</h1>

<table>
  <thead>
    <tr>
      <th>When</th>
      <th>All</th>
      <th>&gt;= 25%</th>
      <th>&gt;= 50%</th>
      <th>&gt;= 75%</th>
      <th>&gt;= 90%</th>
      <th>&gt;= 100%</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_stats.each do |project_stat| %>
      <tr>
        <td><%= project_stat.when %></td>
        <td><%= project_stat.all %></td>
        <td><%= project_stat.percent_ge_25 %></td>
        <td><%= project_stat.percent_ge_50 %></td>
        <td><%= project_stat.percent_ge_75 %></td>
        <td><%= project_stat.percent_ge_90 %></td>
        <td><%= project_stat.percent_ge_100 %></td>
        <td><%= link_to 'Show', project_stat %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
