<%# The "div"s here are not balanced within the file.
    That allows us to fill in and then end the current column & row,
    followed by starting and finishing another full row. %>
<% badge_hostname = (ENV['PUBLIC_HOSTNAME'] || 'localhost') %>
<% provide :insert_progress_bar do %>
  <div class="progress-mobile progress">
    <div class="progress-bar progress-bar-success badge-progress"
         role="progressbar" aria-valuenow="<%= project.badge_percentage_baseline_1 || 0 %>"
         aria-valuemin="0" aria-valuemax="100">
      <%= project.badge_percentage_baseline_1 || 0 %>%
    </div>
  </div>
<% end %>
<%= render(partial: 'form_early',
           locals:
             {
               project: project, view_only: view_only,
               criteria_level: 'baseline-1', badge_hostname: badge_hostname
             }) %>

<div class="row">
  <div class="col-md-12">
 <div>
  <%= bootstrap_form_for project, url: update_project_path(project, section: criteria_level) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :lock_version %>

  <br>

  <div class="panel-group well well-lg well-color">
    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Basics', anchor_id: 'basics',
               by_default: 'open',
               satisfaction_data:
                 project.get_satisfaction_data('baseline-1','basics')
             }) %>
      <div class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><h3 id="section_identification"><%= t('headings.Identification') %></h3>
            <%= render(partial: 'form_basics',
                 locals:
                   {
                     project: project, view_only: view_only,
                     badge_hostname: badge_hostname, f: f,
                     criteria_level: 'baseline-1'
                   }) %>
          </li>
        </ul>

        <% unless view_only %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
                value: 'controls', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Controls', anchor_id: 'controls',
               by_default: 'open',
               satisfaction_data:
                 project.get_satisfaction_data('baseline-1','general')
             }) %>
      <div class="panel-collapse collapse in">
        <ul class="list-group">
          <%= render_minor_status(
                'baseline-1', 'General', 'Controls',
                f, project, view_only
              ) %>
        </ul>
        <% unless view_only %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
      <br>
      <div class="center">
      <% if view_only %>
        <%= t "projects.show.#{project.data_license_field}",
              user: project.user_display_name %>
      <% else %>
        <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
        <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
          value: 'Save', class:"btn btn-success btn-submit" %>
        <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
