<% badge_hostname = (ENV['PUBLIC_HOSTNAME'] || 'localhost') %>
<div>
  <span id="project_entry_form"></span>
  <div class="hidden-print">
    <button id="show-all-details" class="btn btn-simple" title="Show all detailed text" type="button">Show all detailed text</button>
    <button id="hide-all-details" class="btn btn-simple" title="Hide all detailed text" type="button">Hide all detailed text</button>
    <button id="toggle-hide-metna-criteria" class="btn btn-simple" title="Hide met or N/A criteria" type="button">Hide met or N/A criteria</button>
  </div>
  <div class="hidden">
    <%= image_tag "result_symbol_check.png", id: "result_symbol_check_img" %>
    <%= image_tag "result_symbol_x.png", id: "result_symbol_x_img" %>
    <%= image_tag "result_symbol_dash.png", id: "result_symbol_dash" %>
    <%= image_tag "result_symbol_question.png", id: "result_symbol_question" %>
  </div>
</div>
<p class="no-padding padding-right main-subtext">
Projects that follow the best practices below
will be able to voluntarily self-certify and show that they've
achieved a Core Infrastructure Initiative (CII) badge.

<%= render(partial: "details", locals: {
           criterion: "badge_intro", details: %{
There is no set of practices that can guarantee that software
will never have defects or vulnerabilities;
even formal methods can fail if the specifications or assumptions are wrong.
Nor is there any set of practices that can guarantee that a project will
sustain a healthy and well-functioning development community.
However, following best practices can help improve the results
of projects.
For example, some practices enable multi-person review before release,
which can both help find otherwise hard-to-find technical vulnerabilities
and help build trust and a desire for repeated interaction among developers
from different companies.
We plan to improve the page design later; for now, please focus on
the criteria and how they're combined.
To earn a badge,
all MUST and MUST NOT criteria must be met,
all SHOULD criteria must be met OR be unmet with justification, <i>and</i>
all SUGGESTED criteria must be met OR unmet (we want them considered at least).
Feedback is welcome via the
<a href="https://github.com/linuxfoundation/cii-best-practices-badge">GitHub site as issues or pull requests</a>
There is also a
<a href="https://lists.coreinfrastructure.org/mailman/listinfo/cii-badges">mailing list for general discussion</a>.<br /><br />
}}) %>

<% if is_disabled %>
  If this is your project, please show your badge status
  on your project page!
  The badge status looks like this:
  <img src='/projects/<%= project.id %>/badge' alt='Badge level for project <%= project.id %> is <%= project.badge_percentage %>%'>
  Here is how to embed it:
  <%= render(partial: "details", locals: {
         criterion: "got_badge", details: %{
  You can show your badge status
  or embedding this in your markdown file:<br />
 <code>[![CII Best Practices](https://#{ badge_hostname }/projects/#{ project.id }/badge)](https://#{ badge_hostname }/projects/#{ project.id })</code>
  or by embedding this in your HTML:<br />
  <code>&lt;a href="https://#{badge_hostname}/projects/#{ project.id }"&gt;&lt;img src="https://#{ badge_hostname }/projects/#{ project.id }/badge"&gt;&lt;/a&gt; </code><br />
  }}) %>
<% else %>
  <b>Please 'submit' often</b> to save your work
  (you can always go back and edit more later).
  <br><br>
  If you need help, have a question, or see a problem, please
  <i><a href="mailto:&#99;ii&#45;badges&#45;questions&#45;own&#101;r&#64;lists&#46;coreinfrastructure&#46;or&#103;">send an email</a> </i>or
<i><a href="https://github.com/linuxfoundation/cii-best-practices-badge/issues" target="_blank">file an issue</a></i>.
<% end %>

<%# End column started outside. %>
</div>

<div class="col-md-3 col-xs-3">
  <div class="progress">
    <div id="badge-progress" class="progress-bar progress-bar-success badge-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
  </div>
</div>

<%# end row started outside %>
</div>


<div class="row">
  <div class="col-md-12">

  <%= bootstrap_form_for(project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

<br><br><br>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs subnav">
    <li class="active"><a href="#projectbasics" data-toggle="tab"><h3 class="tab-title">Basics</h3></a></li>
    <li><a href="#changecontrol" data-toggle="tab"><h3 class="tab-title">Change Control</h3></a></li>
    <li><a href="#reporting" data-toggle="tab"><h3 class="tab-title">Reporting</h3></a></li>
    <li><a href="#quality" data-toggle="tab"><h3 class="tab-title">Quality</h3></a></li>
    <li><a href="#security" data-toggle="tab"><h3 class="tab-title">Security</h3></a></li>
    <li><a href="#analysis" data-toggle="tab"><h3 class="tab-title">Analysis</h3></a></li>
    <li><a href="#future" data-toggle="tab"><h3 class="tab-title">Future</h3></a></li>
  </ul>

  <div class="tab-content well well-lg well-color">
  <div class="tab-pane active" id="projectbasics">
<br>
    <h3>Identification</h3>

      <div class="hidable-text-entry">
      <span>What is the human-readable name of the project?</span>
<%= render(partial: "details", locals: {
           criterion: "project_name", details: %{
Note that other projects may use the same name.
}}) %>
      <%= f.text_field :name, hide_label: true, class:"form-control", placeholder:'FLOSS Project Name', disabled: is_disabled %>
      </div>

      <div class="hidable-text-entry">
      <span>What is a brief description of the project?</span>
      <% if is_disabled %>
        <div class="discussion-markdown">
          <%= markdown(project[:description]) %>
        </div>
      <% else %>
        <%= render(partial: "details", locals: {
           criterion: "description", details: %{
Include key comments about the project.  Use markdown.
This information is used when displaying badge information.
}}) %>
      <%= f.text_area :description, class:"form-control", hide_label: true, placeholder:'Project Description', disabled: is_disabled %>
      <% end %>
      </div>

      <div class="hidable-text-entry">
      <span>What is the URL for the project (as a whole)?</span>
      <% if is_disabled %>
        <div class="discussion-markdown">
           <%= link_to_if project.contains_url?(project.homepage_url), project.homepage_url, project.homepage_url, rel: 'nofollow' %>
        </div>
      <% else %>
        <%= f.text_field :homepage_url, hide_label: true, class: "form-control", placeholder:'Project Website URL', label: "Project URL", disabled: is_disabled %>
      <% end %>
      </div>

      <div class="hidable-text-entry">
      <span>What is the URL for the version control repository
            (it may the same as the project URL)?</span>
      <% if is_disabled || repo_disabled%>
        <div class="discussion-markdown">
           <%= link_to_if project.contains_url?(project.repo_url), project.repo_url, project.repo_url, rel: 'nofollow' %>
        </div>
      <% else %>
        <%= f.text_field :repo_url, class:"form-control", hide_label: true, placeholder:'Project Repo URL', disabled: repo_disabled %>
      <% end %>
      </div>

<!-- TODO: MUST have a project or repo URL, SUGGESTED to use HTTPS.
     However, first is implied by "description_good",
     and the MITM stuff notes https as a way to implement it. -->

      <div class="hidable-text-entry">
      <span>What is the
            <a href="https://nvd.nist.gov/cpe.cfm">Common Platform Enumeration (CPE)</a>
            name for the project (if it has one)?</span>
       <%= render(partial: "details", locals: {
           criterion: "cpe", details: %{
            The <a href="https://nvd.nist.gov/cpe.cfm">Common Platform Enumeration (CPE)</a>
            is a structured naming scheme for information technology systems,
            software, and packages.  It is used in a number of systems and
            databases when reporting vulnerabilities.
}}) %>
      <%= f.text_field :cpe, hide_label: true, class:"form-control", placeholder:'(Optional) CPE name', disabled: is_disabled %>
      </div>

  <br>
   <%# Note: render() accepts met_suppress: ..., unmet_placeholder:  ... %>

    <h3>Basic Project Website Content</h3>
      <%= render_status 'description_good', f, project, is_disabled %>

      <%= render_status 'interact', f, project, is_disabled %>

      <%= render_status 'contribution', f, project, is_disabled %>

      <%= render_status 'contribution_requirements', f, project, is_disabled, true %>

      <h3>FLOSS License</h3>

      <div class="hidable-text-entry">
      <span>What license(s) is the project released under?</span>
      <%= render(partial: "details", locals: {
           criterion: "license", details: %{
Please use <a href="https://spdx.org/licenses/">SPDX license expression format</a>; examples include "Apache-2.0", "BSD-2-Clause", "BSD-3-Clause", "GPL-2.0+", "LGPL-3.0+", "MIT", and "(BSD-2-Clause OR Ruby)".
}}) %>
      <%= f.text_field :license, class:"form-control", hide_label: true, placeholder:'FLOSS License', list: "license_list", disabled: is_disabled %>
     <!-- Some examples from http://wiki.spdx.org/view/FileNoticeExamples -->
     <div class="hidden">
     <datalist id="license_list">
      <select>
        <option value="Apache-2.0">Apache-2.0 {Apache License 2.0}</option>
        <option value="BSD-3-Clause">BSD-3-Clause {BSD 3-clause "New" or "Revised" License}</option>
        <option value="BSD-2-Clause">BSD-2-Clause {BSD 2-clause "Simplified" License}</option>
        <option value="BSD-2-Clause-FreeBSD">BSD-2-Clause-FreeBSD {BSD 2-clause FreeBSD License}</option>
        <option value="CC0-1.0">CC0-1.0 {Creative Commons Zero v1.0 Universal}</option>
        <option value="GPL-2.0">GPL-2.0 {GNU General Public License version 2.0 only}</option>
        <option value="GPL-2.0+">GPL-2.0+ {GNU General Public License version 2.0 or later}</option>
        <option value="GPL-3.0">GPL-3.0 {GNU General Public License version 3.0 only}</option>
        <option value="GPL-3.0+">GPL-3.0+ {GNU General Public License version 3.0 or later}</option>
        <option value="LGPL-2.1+">LGPL-2.1 {GNU Lesser General Public License version 2.1 only}</option>
        <option value="LGPL-2.1+">LGPL-2.1+ {GNU Lesser General Public License version 2.1 or later}</option>
        <option value="LGPL-3.0+">LGPL-3.0 {GNU Lesser General Public License version 3.0 only}</option>
        <option value="LGPL-3.0+">LGPL-3.0+ {GNU Lesser General Public License version 3.0 or later}</option>
        <option value="MIT">MIT</option>
        <option value="(GPL-3.0+ WITH Bison-Exception)">(GPL-3.0+ WITH Bison-Exception)</option>
        <option value="(LGPL-2.0+ AND AML)">(LGPL-2.0+ AND AML) {must meet both the GNU Lesser General Public License version 2.1 or later AND the Apple MIT License}</option>
        <option value="(MPL-1.1 OR GPL-2.0+ OR LGPL-2.1+)">(MPL-1.1 OR GPL-2.0+ OR LGPL-2.1+)</option>
        <option value="(Ruby OR BSD-2-Clause)">(Ruby OR BSD-2-Clause)</option>
      </select>
     </datalist></div>
      <br>
      <hr>
     </div>

      <%= render_status 'floss_license', f, project, is_disabled %>

      <%= render_status 'floss_license_osi', f, project, is_disabled %>

      <%= render_status 'license_location', f, project, is_disabled, true %>

      <h3>Documentation</h3>

      <%= render_status 'documentation_basics', f, project, is_disabled %>

      <%= render_status 'documentation_interface', f, project, is_disabled, true %>

      <h3>Other</h3>

      <%= render_status 'sites_https', f, project, is_disabled %>

      <%= render_status 'discussion', f, project, is_disabled %>

      <%= render_status 'english', f, project, is_disabled, true %>

      <div class="row">
      <div class="col-xs-12">
        <br>
        <%= f.form_group :disabled_reminders do %>
          <%= f.check_box :disabled_reminders, disabled: is_disabled do %>
            (Advanced) Disable inactivity reminder (we recommend you leave this unchecked)
          <% end %>
        <% end %>
      </div>
      </div>

      <br><br>
      Other general comments about the project:<br>
      <% if is_disabled %>
        <div class="discussion-markdown">
          <%= markdown(project[:general_comments]) %>
        </div>
      <% else %>
        <%= f.text_area :general_comments, class:"form-control",  hide_label: true, placeholder:'Additional Comments (in markdown)', disabled: is_disabled %>
      <% end %>
</div>

      <div class="tab-pane" id="changecontrol">
      <br>
      <h3>Public version-controlled source repository</h3>

      <%= render_status 'repo_public', f, project, is_disabled %>

      <%= render_status 'repo_track', f, project, is_disabled %>

      <%= render_status 'repo_interim', f, project, is_disabled %>

      <%= render_status 'repo_distributed', f, project, is_disabled, true %>

      <h3>Version numbering</h3>

      <%= render_status 'version_unique', f, project, is_disabled %>

      <%= render_status 'version_semver', f, project, is_disabled %>

      <%= render_status 'version_tags', f, project, is_disabled, true %>

      <h3>Release Notes (ChangeLog)</h3>

      <%= render_status 'release_notes', f, project, is_disabled %>

      <%= render_status 'release_notes_vulns', f, project, is_disabled, true %>
</div>

      <div class="tab-pane" id="reporting">
      <br>
      <h3>Bug reporting process</h3>

      <!-- TODO: Add report_url to model and database.
      <span>If an issue tracker is used, please provide its URL.
      </span>
      \<\% = f.text_field :report_url , class:"form-control", placeholder:'Issue tracker URL (if any)', disabled: is_disabled % >
      -->

      <%= render_status 'report_process', f, project, is_disabled %>

      <%= render_status 'report_tracker', f, project, is_disabled %>

      <%= render_status 'report_responses', f, project, is_disabled %>

      <%= render_status 'enhancement_responses', f, project, is_disabled %>

      <%= render_status 'report_archive', f, project, is_disabled, true %>

      <h3>Vulnerability reporting process</h3>

      <%= render_status 'vulnerability_report_process',
                        f, project, is_disabled %>

      <%= render_status 'vulnerability_report_private',
                        f, project, is_disabled %>

      <%= render_status 'vulnerability_report_response',
                        f, project, is_disabled, true %>
</div>

     <div class="tab-pane" id="quality">
     <br>
     <h3>Working build system</h3>

      <%= render_status 'build', f, project, is_disabled %>

      <%= render_status 'build_common_tools', f, project, is_disabled %>

      <%= render_status 'build_floss_tools', f, project, is_disabled, true %>

      <h3>Automated test suite</h3>

      <%= render_status 'test', f, project, is_disabled %>

      <%= render_status 'test_invocation', f, project, is_disabled %>

      <%= render_status 'test_most', f, project, is_disabled %>

      <%= render_status 'test_continuous_integration',
                        f, project, is_disabled, true %>

    <h3>New functionality testing</h3>

      <%= render_status 'test_policy', f, project, is_disabled %>

      <%= render_status 'tests_are_added', f, project, is_disabled %>

      <%= render_status 'tests_documented_added', f, project, is_disabled, true %>

    <h3>Warning flags</h3>

      <%= render_status 'warnings', f, project, is_disabled %>

      <%= render_status 'warnings_fixed', f, project, is_disabled %>

      <%= render_status 'warnings_strict', f, project, is_disabled, true %>
</div>

    <div class="tab-pane" id="security">
    <br>
    <h3>Secure development knowledge</h3>

      <%= render_status 'know_secure_design', f, project, is_disabled %>

      <%= render_status 'know_common_errors', f, project, is_disabled, true %>

    <h3>Good cryptographic practices</h3>

<span class="criteria-desc">
Note that some software does not need to directly use cryptographic capabilities.
A "project security mechanism" is a security mechanism
provided by the delivered project's software.
</span>
<% if (!is_disabled) %>
  <br><br>
  <button class="btn btn-default hidden-print" type="button" id='all_crypto_na'>Press here if the project does not use or need cryptographic mechanisms</button>
  <br>
<% end %>
      <%= render_status 'crypto_published', f, project, is_disabled %>

      <%= render_status 'crypto_call', f, project, is_disabled %>

      <%= render_status 'crypto_floss', f, project, is_disabled %>

      <%= render_status 'crypto_keylength', f, project, is_disabled %>

      <%= render_status 'crypto_working', f, project, is_disabled %>

      <%= render_status 'crypto_weaknesses', f, project, is_disabled %>

      <%= render_status 'crypto_pfs', f, project, is_disabled %>

      <%= render_status 'crypto_password_storage', f, project, is_disabled %>

      <%= render_status 'crypto_random', f, project, is_disabled, true %>

    <h3>Secured delivery against man-in-the-middle (MITM) attacks</h3>

      <%= render_status 'delivery_mitm', f, project, is_disabled %>

      <%= render_status 'delivery_unsigned', f, project, is_disabled, true %>

    <h3>Publicly-known vulnerabilities fixed</h3>

      <%= render_status 'vulnerabilities_fixed_60_days',
                        f, project, is_disabled %>

      <%= render_status 'vulnerabilities_critical_fixed',
                        f, project, is_disabled, true %>

    <h3>Other security</h3>

      <%= render_status 'no_leaked_credentials', f, project, is_disabled, true %>
</div>

    <div class="tab-pane" id="analysis">
    <br>
    <h3>Static code analysis</h3>

      <%= render_status 'static_analysis', f, project, is_disabled %>

      <%= render_status 'static_analysis_common_vulnerabilities',
                        f, project, is_disabled %>

      <%= render_status 'static_analysis_fixed',
                        f, project, is_disabled %>

      <%= render_status 'static_analysis_often', f, project, is_disabled, true %>

     <h3>Dynamic analysis</h3>

      <%= render_status 'dynamic_analysis', f, project, is_disabled %>

      <%= render_status 'dynamic_analysis_unsafe', f, project, is_disabled %>

      <%= render_status 'dynamic_analysis_enable_assertions',
                        f, project, is_disabled %>

      <%= render_status 'dynamic_analysis_fixed',
                        f, project, is_disabled, true %>
    </div>

    <div class="tab-pane" id="future">
     <br>
     These are criteria we intend to add in the near future, but are
     <i>not</i> currently required for a badge.
     This grace period allows projects to update to changed criteria
     and retain their badge as best practices improve.
     <br>

      <%= render_status 'installation_common', f, project, is_disabled %>

      <%= render_status 'build_reproducible', f, project, is_disabled %>

      <%= render_status 'crypto_used_network', f, project, is_disabled %>

      <%= render_status 'crypto_tls12', f, project, is_disabled %>

      <%= render_status 'crypto_certificate_verification', f, project, is_disabled %>

      <%= render_status 'crypto_verification_private', f, project, is_disabled %>

      <%= render_status 'hardened_site', f, project, is_disabled %>

      <%= render_status 'hardening', f, project, is_disabled, true %>

    </div>

</div>
      <br>
      <% if ! is_disabled %>
        <%= f.submit 'Submit', class:"btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
