<%# The "div"s here are not balanced within the file.
    That allows us to fill in and then end the current column & row,
    followed by starting and finishing another full row. %>
<% badge_hostname = (ENV['PUBLIC_HOSTNAME'] || 'localhost') %>
<%# TODO: Use badge_percentage_1 %>
<% provide :insert_progress_bar do %>
  <div class="progress-mobile progress">
    <div class="progress-bar progress-bar-success badge-progress"
         role="progressbar" aria-valuenow="<%= project.badge_percentage_1 %>"
         aria-valuemin="0" aria-valuemax="100">
      <%= project.badge_percentage_1 %>%
    </div>
  </div>
<% end %>
<%= render(partial: 'form_early',
           locals:
             {
               project: project, view_only: view_only,
               criteria_level: criteria_level, badge_hostname: badge_hostname
             }) %>

<div class="row">
  <div class="col-md-12">
 <div>
  <%= bootstrap_form_for project, url: update_project_path(project, section: criteria_level) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :lock_version %>

  <br>

  <div class="panel-group well well-lg well-color">
    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Basics', anchor_id: 'basics',
               by_default: 'open',
               satisfaction_data:
                 project.get_satisfaction_data('1','basics')
             }) %>
      <div class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><h3 id="section_general_project_info"><%= t('headings.General_project_info') %></h3>
            <%= render(partial: 'form_basics',
                 locals:
                   {
                     project: project, view_only: view_only,
                     badge_hostname: badge_hostname, f: f,
                     criteria_level: criteria_level
                   }) %>
          </li>
          <%# Prerequisites is always disabled %>
          <%= render_minor_status(
                '1', 'Basics', 'Prerequisites', f, project, true
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Basic project website content',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Project oversight', f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Documentation', f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Accessibility and internationalization',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Other', f, project, view_only
              ) %>
          </ul>

      <% unless view_only %>
        <div class="panel-footer text-center">
          <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
          <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'changecontrol', class:"btn btn-success btn-submit" %>
          <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
        </div>
      <% end %>
     </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Change Control', anchor_id: 'changecontrol',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','changecontrol')
             }) %>

      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Change Control', 'Previous versions',
                f, project, view_only
              ) %>
        </ul>
        <% unless view_only %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'reporting', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Reporting', anchor_id: 'reporting',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','reporting')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Reporting', 'Bug-reporting process',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Reporting', 'Vulnerability report process',
                f, project, view_only
              ) %>
        </ul>
        <% unless view_only %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'quality', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Quality', anchor_id: 'quality',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','quality')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Quality', 'Coding standards', f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Working build system',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Installation system',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Externally-maintained components',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Automated test suite',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'New functionality testing',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Warning flags', f, project, view_only
              ) %>
        </ul>
        <% unless view_only %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'security', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Security', anchor_id: 'security',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','security')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Security', 'Secure development knowledge',
                f, project, view_only
              ) %>
          <li class="list-group-item">
            <% cache_frozen ['crypto_section_header', '1', locale, view_only] do %>
            <h3 id="section_use_basic_good_cryptographic_practices"><%=
            t('Use basic good cryptographic practices',
              scope: :headings) %></h3>

            <span class="criteria-desc">
              <%= t('projects.misc.some_not_crypto_html') %>
            </span>
            <% if (!view_only) %>
              <br><br>
              <button class="btn btn-default hidden-print"
                      type="button" id='all_crypto_na'>
                <%= t('projects.misc.dont_use_crypto') %>
              </button>
              <br>
            <% end %>
            <% end # cache crypto_section_header %>
            <%= render_minor_status(
                  '1', 'Security', 'Use basic good cryptographic practices',
                  f, project, view_only, false
                ) %>
          </li>
          <%= render_minor_status(
                '1', 'Security', 'Secure release',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Security', 'Other security issues',
                f, project, view_only
              ) %>
        </ul>
        <% unless view_only %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'analysis', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Analysis', anchor_id: 'analysis',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','analysis')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Analysis', 'Static code analysis',
                f, project, view_only
              ) %>
          <%= render_minor_status(
                '1', 'Analysis', 'Dynamic code analysis',
                f, project, view_only
              ) %>
        </ul>
        <% unless view_only %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'future', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
      <br>
      <div class="center">
      <% if view_only %>
        <%= t "projects.show.#{project.data_license_field}",
              user: project.user_display_name %>
      <% else %>
        <%= t 'projects.edit.submit_cdla_permissive_20_html' %>
        <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
          value: 'Save', class:"btn btn-success btn-submit" %>
        <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
