<%# The "div"s here are not balanced within the file.
    That allows us to fill in and then end the current column & row,
    followed by starting and finishing another full row. %>
<% badge_hostname = (ENV['PUBLIC_HOSTNAME'] || 'localhost') %>
<%# TODO: Use badge_percentage_1 %>
<% provide :insert_progress_bar do %>
  <div id="progress-mobile" class="progress">
    <div id="badge-progress"
         class="progress-bar progress-bar-success badge-progress"
         role="progressbar" aria-valuenow="<%= project.badge_percentage_1 %>"
         aria-valuemin="0" aria-valuemax="100">
      <%= project.badge_percentage_1 %>%
    </div>
  </div>
<% end %>
<%# The badge URL has one value for some time after the project entry
   is edited, and then changes. To handle that gracefully, we
   expire the cache after a period of time. %>
<% cache_if is_disabled, [project, locale], expires_in: 12.hours do %>
<%= render(partial: 'form_early',
           locals:
             {
               project: project, is_disabled: is_disabled,
               criteria_level: '1', badge_hostname: badge_hostname
             }) %>

<div class="row">
  <div class="col-md-12">
 <div>
  <%= bootstrap_form_for project, url: project_path(project, criteria_level: '1') do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :lock_version %>

  <br><br><br>

  <div class="panel-group well well-lg well-color">
    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Basics', anchor_id: 'basics',
               by_default: 'open',
               satisfaction_data:
                 project.get_satisfaction_data('1','basics')
             }) %>
      <div class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><h3><%= t('headings.Identification') %></h3>
            <%= render(partial: 'form_basics',
                 locals:
                   {
                     project: project, is_disabled: is_disabled,
                     badge_hostname: badge_hostname, f: f,
                     criteria_level: '1'
                   }) %>
          </li>
          <%# Prerequisites is always disabled %>
          <%= render_minor_status(
                '1', 'Basics', 'Prerequisites', f, project, true
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Basic project website content',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Project oversight', f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Documentation', f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Accessibility and internationalization',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Basics', 'Other', f, project, is_disabled
              ) %>
          </ul>

      <% unless is_disabled %>
        <div class="panel-footer text-center">
          <%= t 'projects.edit.submit_cc_by_3plus_html' %>
          <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'changecontrol', class:"btn btn-success btn-submit" %>
          <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
        </div>
      <% end %>
     </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Change Control', anchor_id: 'changecontrol',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','changecontrol')
             }) %>

      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Change Control', 'Previous versions',
                f, project, is_disabled
              ) %>
        </ul>
        <% unless is_disabled %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cc_by_3plus_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'reporting', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Reporting', anchor_id: 'reporting',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','reporting')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Reporting', 'Bug-reporting process',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Reporting', 'Vulnerability report process',
                f, project, is_disabled
              ) %>
        </ul>
        <% unless is_disabled %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cc_by_3plus_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'quality', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Quality', anchor_id: 'quality',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','quality')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Quality', 'Coding standards', f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Working build system',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Installation system',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Externally-maintained components',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Automated test suite',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'New functionality testing',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Quality', 'Warning flags', f, project, is_disabled
              ) %>
        </ul>
        <% unless is_disabled %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cc_by_3plus_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'security', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Security', anchor_id: 'security',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','security')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Security', 'Secure development knowledge',
                f, project, is_disabled
              ) %>
          <li class="list-group-item"><h3><%=
            t('Use basic good cryptographic practices',
              scope: :headings) %></h3>

            <span class="criteria-desc">
              <%= t('projects.misc.some_not_crypto_html') %>
            </span>
            <% if (!is_disabled) %>
              <br><br>
              <button class="btn btn-default hidden-print"
                      type="button" id='all_crypto_na'>
                <%= t('projects.misc.dont_use_crypto') %>
              </button>
              <br>
            <% end %>
            <%= render_minor_status(
                  '1', 'Security', 'Use basic good cryptographic practices',
                  f, project, is_disabled, false
                ) %>
          </li>
          <%= render_minor_status(
                '1', 'Security', 'Secure release',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Security', 'Other security issues',
                f, project, is_disabled
              ) %>
        </ul>
        <% unless is_disabled %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cc_by_3plus_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'analysis', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary">
      <%= render(partial: 'panel_header',
           locals:
             {
               panel_title: 'Analysis', anchor_id: 'analysis',
               by_default: 'close',
               satisfaction_data:
                 project.get_satisfaction_data('1','analysis')
             }) %>
      <div class="panel-collapse collapse in remove-in">
        <ul class="list-group">
          <%= render_minor_status(
                '1', 'Analysis', 'Static code analysis',
                f, project, is_disabled
              ) %>
          <%= render_minor_status(
                '1', 'Analysis', 'Dynamic code analysis',
                f, project, is_disabled
              ) %>
        </ul>
        <% unless is_disabled %>
          <div class="panel-footer text-center">
            <%= t 'projects.edit.submit_cc_by_3plus_html' %>
            <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
              value: 'future', class:"btn btn-success btn-submit" %>
            <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
      <br>
      <div class="center">
      <% if is_disabled %>
        <% if project.show_entry_license? %>
          <%= t 'projects.show.cc_by_3plus_html', user: project.user_display_name %>
        <% else %>
          <!-- This is older data and the user didn't indicate anything,
               so the "terms of use" of CII apply, which said that unless
               otherwise noted it's released under CC-BY-3.0 only. -->
          <%= t 'projects.show.cc_by_3only_html', user: project.user_display_name %>
        <% end %>
      <% else %>
        <%= t 'projects.edit.submit_cc_by_3plus_html' %>
        <%= f.button t('projects.edit.save_and_continue'), type: 'submit', name: 'continue',
          value: 'Save', class:"btn btn-success btn-submit" %>
        <%= f.submit t('projects.edit.submit_and_exit'), class:"btn btn-success btn-submit" %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
<% end %>
