    <div id="<%= criterion.to_s %>" class="row">
    <% # raise unless criterion.to_s && criterion.name %>
      <% status_symbol = (criterion.to_s + "_status").to_sym %>
      <% justification_symbol = (criterion.to_s + "_justification").to_sym %>

      <% is_crypto = criterion.to_s.match(/^crypto_/) %>
      <% crypto_class = is_crypto ? ' criterion-is-crypto' : '' %>

      <div class="col-md-2 col-xs-3 criteria-radio<%= crypto_class %>">
       <div class="row status-chooser">
       <span class="criterion-name hidden"><%= criterion.to_s %></span>
       <span class="criterion-category hidden"><%= criterion.category %></span>
       <span class="criterion-future hidden"><%= criterion.future? %></span>
       <span class="criterion-met-url-required hidden"><%=
          criterion.met_url_required? %></span>
       <%= f.form_group status_symbol do %>
         <div class="col-xs-4 text-center block-center">
          <br><%= image_tag("Clear.gif", size: "40x40", id: criterion.to_s + "_enough", alt: "") %>
         </div>
         <div class="col-xs-3 text-center block-center">
             <%= f.radio_button status_symbol, 'Met', label: 'Met', disabled: is_disabled %>
             <%= f.radio_button status_symbol, 'Unmet', label: 'Unmet', disabled: is_disabled  %>
         <% if criterion.na_allowed? %>
             <%= f.radio_button status_symbol, 'N/A', label: 'N/A', disabled: is_disabled  %>
         <% end %>
             <%= f.radio_button status_symbol, '?', label: '?', disabled: is_disabled  %>
         </div>
        <% end %>
       </div>
      </div>

      <div class='col-md-10 col-xs-9 criteria-desc'>
          <br>
          <% if criterion.future? %>
          (Future criterion)
          <% end %>
          <%= sanitize criterion.description %>
          <% if criterion.met_url_required? %>
            (URL required)
          <% end %>
          <sup>[<%= criterion %>]</sup>
          <%= if criterion.details
              render(partial: "details", locals: {f: f,
                       criterion: criterion,
                       details: criterion.details})
             end %>
         <div id="<%= criterion.to_s + '_met_placeholder' %>" class="hidden">
          <%= if criterion.met_placeholder
                raw criterion.met_placeholder
              else
                if criterion.met_url_required?
                  raw "(URL required) Please explain how this is met, including 1+ key URLs."
                else
                  raw "(Optional) Please explain how this is met, including 1+ key URLs."
                end
              end %>
         </div>
         <div id="<%= criterion.to_s + '_unmet_placeholder' %>" class="hidden">
          <%= sanitize (criterion.unmet_placeholder ||
                 "Please explain why it's okay this is unmet, including 1+ key URLs.") %>
         </div>
         <div id="<%= criterion.to_s + '_na_placeholder' %>" class="hidden">
          <%= sanitize (criterion.na_placeholder ||
                 "(Optional) Please explain why this is not applicable (N/A), including 1+ key URLs." ) %>
         </div>
         <% if criterion.met_suppress %>
           <div id="<%= criterion.to_s + '_met_suppress' %>" class="hidden"></div>
         <% end %>
         <% if criterion.unmet_suppress %>
           <div id="<%= criterion.to_s + '_unmet_suppress' %>" class="hidden"></div>
         <% end %>
         <% if criterion.na_suppress %>
           <div id="<%= criterion.to_s + '_na_suppress' %>" class="hidden"></div>
         <% end %>
         <% if (is_disabled) %>
           <% if project[justification_symbol] %>
             <div class="justification-markdown">
               <%= markdown(project[justification_symbol]) %>
             </div>
           <% end %>
           <% if project[status_symbol] == 'Met' &&
                 criterion.met_url_required? &&
                 !project.contains_url?(project[justification_symbol]) %>
             <p class="bg-warning">Warning: URL required, but no URL found.</p>
           <% elsif project[status_symbol] == 'Unmet' &&
                      criterion.category == 'SHOULD' &&
                      project[justification_symbol].length < Project::MIN_SHOULD_LENGTH %>
             <p class="bg-warning">Warning: Requires lengthier justification.</p>
           <% end %>
           <%= f.text_area justification_symbol, class:"form-control hidden", hide_label: true, placeholder:'Please explain', disabled: is_disabled  %>
         <% else %>
           <%= f.text_area justification_symbol, class:"form-control", hide_label: true, placeholder:'Please explain', disabled: is_disabled  %>
         <% end %>
      <% if is_last %>
        <br>
      <% else %>
        <hr>
      <% end %>
      </div>
    </div>
