<% criterion_status = project.get_criterion_status(criterion) %>
<% status_symbol = (criterion.to_s + '_status').to_sym %>
<% justification_symbol = (criterion.to_s + '_justification').to_sym %>
<% project_criterion_status = project[status_symbol] %>
<% project_criterion_justification = project[justification_symbol] %>

<% cache [criterion.to_s, is_disabled, project_criterion_status,
          project_criterion_justification ] do %>
  <div id="<%= criterion.to_s %>" class="row">
    <% is_crypto = criterion.to_s.match(/^crypto_/) %>
    <% crypto_class = is_crypto ? ' criterion-is-crypto' : '' %>

    <div class="col-md-2 col-sm-3 col-xs-4 criteria-radio<%= crypto_class %>">
      <div class="status-chooser">
      <span class="criterion-name hidden"><%= criterion.to_s %></span>
      <%= f.form_group status_symbol do %>
        <div class="col-xs-4 text-left block-left"><br>
          <% if criterion_status == :criterion_passing %>
            <%= image_tag(
                  'result_symbol_check.png', size: '40x40',
                    id: criterion.to_s + '_enough',
                    alt: 'Enough for a badge!'
                ) %>
          <% elsif criterion_status == :criterion_barely %>
            <%= image_tag(
                  'result_symbol_dash.png', size: '40x40',
                    id: criterion.to_s + '_enough',
                    alt: 'Barely enough for a badge.'
                ) %>
          <% elsif criterion_status == :criterion_failing %>
            <%= image_tag(
                  'result_symbol_x.png', size: '40x40',
                    id: criterion.to_s + '_enough',
                    alt: 'Not enough for a badge.'
                ) %>
          <% else %>
            <%= image_tag(
                  'result_symbol_question.png', size: '40x40',
                    id: criterion.to_s + '_enough',
                    alt: 'Unknown required information, not enough for a badge.'
                ) %>
          <% end %>
        </div>
        <div class="col-xs-4 col-xs-offset-2 col-sm-offset-1 text-left block-left">
          <%= f.radio_button status_symbol, 'Met', label: 'Met',
                                                   disabled: is_disabled %>
          <%= f.radio_button status_symbol, 'Unmet', label: 'Unmet',
                                                     disabled: is_disabled  %>
          <% if criterion.na_allowed? %>
            <%= f.radio_button status_symbol, 'N/A', label: 'N/A',
                                                     disabled: is_disabled  %>
          <% end %>
          <%= f.radio_button status_symbol, '?', label: '?',
                                                 disabled: is_disabled  %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='col-md-10 col-sm-9 col-xs-12 criteria-desc'>
    <br>
    <% if criterion.future? %>(Future criterion) <% end %>
    <%= sanitize criterion.description %>
    <% if criterion.met_url_required? %>(URL required) <% end %>
    <sup>[<%= criterion %>]</sup>
    <%= if criterion.details
           render(partial: "details", locals: {f: f,
                    criterion: criterion,
                    details: criterion.details})
        end %>
    <% if (is_disabled) %>
      <% if project_criterion_justification %>
        <div class="justification-markdown">
          <%= markdown(project_criterion_justification) %>
        </div>
      <% end %>
      <% if criterion_status == :criterion_url_required %>
        <p class="bg-warning">Warning: URL required, but no URL found.</p>
      <% elsif criterion_status == :criterion_justification_required %>
        <p class="bg-warning">Warning: Requires lengthier justification.</p>
      <% end %>
      <%= f.text_area justification_symbol,
                      class: 'form-control hidden', hide_label: true,
                      placeholder:'Please explain', disabled: is_disabled %>
    <% else %>
      <%= f.text_area justification_symbol,
                      class: 'form-control', hide_label: true,
                      placeholder:'Please explain', disabled: is_disabled %>
    <% end %>
    <% if is_last %>
      <br>
    <% else %>
      <hr>
    <% end %>
    </div>
  </div>
<% end %>
