<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>License</th>
      <th>Owner</th>
      <th>% Achieved</th>
      <th>Badge</th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project %></td>
        <td><%= link_to (project.name.presence || "(Name Unknown)"),
                project %></td>
        <td><%= markdown(
                  (project.description || '').
                  truncate(160, separator: ' ')) %></td>

        <td class='website'>
          <%# Defend against bad data - link only if plausible URL. %>
          <% if project.homepage_url.presence &&
                project.homepage_url.match(/\Ahttps?:\/\//) %>
            <a href="<%= project.homepage_url %>"><%= project.homepage_url %></a>
          <% else %>
            <%= project.homepage_url %>
          <% end %>
        </td>
        <td><%= project.license %></td>
        <td><%= link_to project.user_name, project.user %></td>
        <td><%= project.badge_percentage %>%</td>
        <td><%= link_to "<img src='/projects/#{project.id}/badge'>".html_safe,
                        project %></td>
      </tr>
    <% end %>
  </tbody>
</table>
