<% content_for :nav_extras do %>
  <li>
    <% if logged_in? %>
      <%= link_to 'Add', new_project_path %>
    <% end %>
  </li>
<% end %>

<div class="center">
<h2>Projects</h2>
  <%= form_for projects_path, method: 'get', enforce_utf8: false do %>
      <%= label_tag :badge_status %>
      <%= select_tag(:status,
                     options_for_select(([nil] + Project::BADGE_STATUSES)
                       .map { |status| [status.to_s.titleize, status] },
                     params[:status])) %>
<!--       <%= text_field_tag :name_or_homepage_url_or_repo_url_start %> -->
      <%= submit_tag "Search", name: nil %>
  <% end %>
<br>
<%= link_to 'Add New Project', new_project_path, class:"btn btn-success" %>
<br>
<br>
  <%= render 'table', projects: @projects %>
  <%= will_paginate @projects %>
</div>
