<% content_for :nav_extras do %>
  <li>
    <% if logged_in? %>
      <%= link_to 'Add', new_project_path %>
    <% end %>
  </li>
<% end %>

<div class="center">
<h2>Projects</h2>
  <%= form_for projects_path, method: 'get', enforce_utf8: false,
               html: { class: 'project_search' } do %>
      <%= label_tag :badge_status %>
      <%= select_tag(:status,
                     options_for_select(([nil] + Project::BADGE_STATUSES)
                       .map { |status| [status.to_s.titleize, status] },
                     params[:status]), onchange: 'this.form.submit();') %>
      &nbsp; &nbsp; &nbsp;
      <%= label_tag :text_search %>
      <%= text_field_tag :q, params[:q], size: 25,
                         placeholder: 'Name or URL begins with...' %>
      <%= submit_tag 'Search', name: nil %>
  <% end %>
<br>
<%= link_to 'Add New Project', new_project_path, class: 'btn btn-success' %>
<br>
<br>
  <%= render 'table', projects: @projects %>
  <%= will_paginate @projects %>
</div>
