<% content_for :nav_extras do %>
  <li>
    <% if logged_in? %>
      <%= link_to 'Add', new_project_path %>
    <% end %>
  </li>
<% end %>

<div class="center">
<h2><%= pluralize(@count, 'Project') %></h2>
  <%= form_for projects_path, method: 'get', enforce_utf8: false,
               html: { class: 'project_search' } do %>
    <%= label_tag :badge_status %>
    <%= select_tag(:gteq, options_for_select(Project::BADGE_STATUSES,
                   params[:gteq]), onchange: 'this.form.submit();') %>
    &nbsp; &nbsp; &nbsp;
    <%= label_tag :exclude_passing %>
    <%= check_box_tag :lteq, '99', params[:lteq], onchange: 'this.form.submit();' %>
    &nbsp; &nbsp; &nbsp;
    <%= label_tag :text_search %>
    <%= text_field_tag :q, params[:q], size: 25,
                       placeholder: 'Name or URL begins with...' %>
    <%= submit_tag 'Search', name: nil %>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <%= link_to image_tag('feed-icon-28x28', width: '28', height: '28'), feed_path %>
  <% end %>
<br>
<%= link_to 'Add New Project', new_project_path, class: 'btn btn-success' %>
<br>
<br>
  <%= render 'table', projects: @projects %>
  <%= will_paginate @projects %>
</div>
