<% content_for :nav_extras do %>
  <li>
    <% if logged_in? %>
      <%= link_to 'Add', new_project_path %>
    <% end %>
  </li>
<% end %>

<div class="center">
<h2>Projects</h2>
  <%= search_form_for @search do |f| %>
      <%= f.label :badge_status %>
      <%= f.collection_select(:badge_status_matches, Project::BADGE_STATUS_CHOICE, :id, :name) %>
      <%= f.label(:name_or_homepage_url_or_repo_url_start, "Name or URLs begin with") %>
      <%= f.search_field :name_or_homepage_url_or_repo_url_start %>
      <%= f.submit %>
  <% end %>
<br>
<%= link_to 'Add New Project', new_project_path, class:"btn btn-success" %>
<br>
<br>
  <%= render 'table', projects: @projects %>
  <%= will_paginate @projects %>
</div>
