<%
   # Quick check of project and repo URLs.  This check is for responsiveness,
   # not for security; they're checked more rigorously
   # at the server (see app/validators/url_validator.rb).
   # This pattern is intentionally limited, e.g., we don't allow '?', to make
   # it harder to use this app to attack improperly-written sites.
   # The regex syntax here is per the *HTML* spec for HTML5 patterns, so
   # "^" and "$" are not needed.
   domain_pattern = '[A-Za-z0-9_][-A-Za-z0-9_.]*'
   url_pattern = 'https?:\/\/' + domain_pattern + \
     '(\/([-A-Za-z0-9_.:\/\+!,#@~]|%(20|[89A-Ea-e][0-9A-Fa-f]|[Ff][0-7]))*)?'
%>
<% if current_user %>
  <div class='row'>
  <div class="col-md-12">
  <br>
  <h2 class='center'><%= t('.new_badge') %></h2>
  <br>
  <%= raw t('.tell_us') %>
  <br>
  <%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% if current_user.provider == 'github' %>
      <br>
      <%= raw t('.may_select_html') %>
      <!-- GitHub repo dropdown (not model-bound); JS copies value to repo_url -->
      <div class="form-group">
        <label for="github_repo_selector"><%= t('.github_repo_label') %></label>
        <%= select_tag :github_repo,
              grouped_options_for_select(github_repo_select_groups),
              prompt: t('.select_one_github'),
              id: 'github_repo_selector',
              class: 'form-control' %>
      </div>
    <% end %>
    <span><%= f.label :repo_url, t('.url_of_repo') %></span>
    <%= f.text_field :repo_url, class: "form-control",
          type: 'url', skip_label: true,
          pattern: url_pattern,
          placeholder: t('.placeholder_of_repo') %>
    <span><%= f.label :homepage_url, t('.url_of_homepage') %></span>
    <%= f.text_field :homepage_url, class: "form-control",
          type: 'url', skip_label: true,
          pattern: url_pattern,
          placeholder: t('.placeholder_of_homepage') %>
    <% if I18n.locale != :en %>
      <div class="form-group">
        <%= t('projects.form_basics.entry_locale.description') %>
        <%= f.select :entry_locale,
                     Rails.application.config.locale_select_options[I18n.locale.to_s],
                     {skip_label: true}, {class: 'form-control'} %>
      </div>
    <% end %>
    <div class="form-group">
      <label><%= t('.badge_series') %></label><br>
      <small><%= t('.badge_series_description') %></small>
      <div class="radio">
        <label>
          <%= radio_button_tag :starting_section, 'passing', true %>
          <%= t('.badge_series_metal') %>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= radio_button_tag :starting_section, 'baseline-1', false %>
          <%= t('.badge_series_baseline') %>
        </label>
      </div>
    </div>
    <%= f.submit t('.submit'), class: 'btn btn-primary',
                 'data-toggle' => 'tooltip',
                 title: t('.post_delay_warning') %>
    <br><br>
    <%= raw t('.reminder_email_html') %>
    <br>
  <% end %>
  <p>
  <br>
  <%= t('.final_text_html') %>
  </div>
  </div>
<% else %>
  <% flash.now[:danger] = t('.sign_in_first') %>
  <%= render template: 'sessions/new' %>
<% end %>
