
<% post_delay_warning = 'There may be a significant delay after submitting ' \
     'as we try to automatically fill in information.' %>
<% if logged_in? %>
  <div class='row'>
  <div class="col-md-12">
  <br>
  <h2 class='center'>New Badge</h2>
  <br>
  <% if current_user.provider == 'github'%>
     <h4>You may select from one of your GitHub repos <i>OR</i>
           provide information about some other project.</h4>
     <br>
     <%= form_for(@project) do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <%= f.collection_select :repo_url, github_select, :last, :first, { prompt: 'Select one of your GitHub repos', disabled: lambda{ |repo| repo.last == 'none' }} %>
       <%= f.submit 'Submit GitHub Repository', class: 'btn btn-primary',
                    'data-toggle' => 'tooltip', title: post_delay_warning %>
     <% end %>

     <br><h2 class='center'>OR</h2>
  <% end %>
  <br>
  <%= form_for(@project) do |f| %>
      <% if current_user.provider == 'local'%>
        <%= render 'shared/error_messages', object: f.object %>
      <% end %>
      <span>What is the URL for the project home page (the URL for the project as a whole)? Start with http(s):// (many characters are not allowed, including "?")</span>
      <!-- Note: Server tests URLs, this is just sanity checking -->
      <%= f.text_field :homepage_url, class:"form-control",
            type: 'url', hide_label: true,
            pattern: '^(|https?:\/\/[A-Za-z0-9_][-A-Za-z0-9_.]*(\/[-A-Za-z0-9_.:\/\+!,#]*)?)',

            placeholder:'http(s)://... for project home page URL' %>
      <span>What is the URL for the version control repository
            (it may the same as the project home page)? Start with http(s):// (many characters are not allowed, including "?")</span>
      <%= f.text_field :repo_url, class:"form-control",
            type: 'url', hide_label: true,
            pattern: '^(|https?:\/\/[A-Za-z0-9_][-A-Za-z0-9_.]*(\/[-A-Za-z0-9_.:\/\+!,#]*)?)',
            placeholder:'http(s)://... for project repo URL' %>
     <%= f.submit 'Submit URL', class: 'btn btn-primary',
                  'data-toggle' => 'tooltip', title: post_delay_warning %>
  <% end %>
  </div>
  </div>
<% else %>
  <% flash.now[:danger] = "Please sign in to add a project!"%>
  <%= render template: "sessions/new" %>
<% end %>
