<% content_for :nav_extras do %>
    <% if can_make_changes? %>
      <li><%= link_to 'Edit', edit_project_path(@project) %></li>
      <li><%= link_to 'Delete',  { action: :destroy, id: @project.id }, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-2 col-xs-3">
    <div class="main-badge-ques"></div>
  </div>
  <div class="col-md-7 col-xs-6">
    <h2 class="text-uppercase m-t-0">Badge Status for <%=@project.try(:name).presence || '(Name Unknown)' %></h2>
    <%= render 'form', project: @project, is_disabled: true, repo_disabled: true %>
<div class="row">
<div class="col-md-12">
<b>Project badge entry owned by:</b>
<%= link_to @project.user_name, user_path(@project.user) %>.<br>
<b>Entry created on</b> <%= @project.created_at %>
(<%= time_ago_in_words @project.created_at %> ago),
<b>last updated on</b> <%= @project.updated_at %>
(<%= time_ago_in_words @project.updated_at %> ago).
<br><br>
<p>
<%= link_to 'Back', projects_path %>
<% if can_make_changes? %>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Delete',  { action: :destroy, id: @project.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
</div>
</div>
