<% content_for :nav_extras do %>
    <% if can_make_changes? %>
      <li><%= link_to 'Edit', edit_project_path(@project) %></li>
      <li><%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
<% end %>

<div class="row">
<div class="col-md-12">
<h1 class="center">Badge Status for <%=
    @project.try(:name).presence || '(Name Unknown)' %></h1>
</div>
</div>

<%= render 'form', project: @project, is_disabled: true %>

<div class="row">
<div class="col-md-12">

<b>Project Created by:</b>
<%= link_to @project.user.name, user_path(@project.user) %>
<br><br>
<p>
<%= link_to 'Back', projects_path %>
<% if can_make_changes? %>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
</div>
</div>
