<% provide :nav_extras do %>
    <%
      # Cache the value of "can_edit?".  In some cases it will cause us
      # to query GitHub, and we don't want to make duplicate external requests
      @cached_can_edit = can_edit?
      if @cached_can_edit %>
    <li><%= link_to Icon[:'fa-edit'] + t('.edit'), edit_project_path(@project, criteria_level: @criteria_level), rel: 'nofollow ugc' %></li>
    <% end %>
    <% if can_control? %>
      <li><%= link_to Icon[:'fa-times-circle'] + t('.delete'), project_path(@project) + '/delete_form', rel: 'nofollow ugc' %></li>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-2 col-sm-3">
    <div class="main-badge-ques"></div>
  </div>
  <div class="col-md-7 col-sm-6">
    <h1 class="m-t-0 h2"><%=@project.try(:name).presence || '(Name Unknown)' %></h2>
    <%= render "form_#{@criteria_level}", project: @project, is_disabled: true %>
<div class="row">
<div class="col-md-12">
<strong><%= t '.owned_by' %></strong>
<%= link_to @project.user_display_name, user_path(@project.user_id),
            rel: 'nofollow ugc' %>.<br>
<%= t '.created_at_html', when: @project.created_at %>
<%= t '.updated_at_html', when: @project.updated_at %>
<% if ! @project.lost_passing_at.nil? %>
  <%= t '.last_lost_html', when: @project.lost_passing_at %>
<% end %>
<% if ! @project.achieved_passing_at.nil? %>
  <%= t '.last_achieved_html', when: @project.achieved_passing_at %>
<% end %>

<br><br>
<p>
<%= link_to t('.back'), projects_path %>
<% if @cached_can_edit %>
  <%= link_to t('.edit'), edit_project_path(@project), rel: 'nofollow ugc' %>
<% end %>
<% if can_control? %>
  <%= link_to t('.delete'), { action: :destroy, id: @project.id }, method: :delete, data: { confirm: t('.confirm_delete', project_id: @project.id) } %>
<% end %>
</p>
</div>
</div>
