<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
<body>
<h1><%= t 'report_mailer.new_project_heading' %></h1>
<p>
<%= t 'report_mailer.new_project_part1' %>
<%= @project.name %>
</p>

<p>
<%= t 'report_mailer.new_project_part2' %>
<a href="<%= @project_info_url %>"><%= @project_info_url %></a>
</p>

<%= t 'report_mailer.new_project_part3_html' %>
<p>
<%= t 'report_mailer.ending' %>
</p>
</body>
</html>
