<h1><%= t 'report_mailer.new_project_heading' %></h1>
<p>
<%= t 'report_mailer.new_project_part1' %>
<%= @project.name %>
</p>

<p>
<%= t 'report_mailer.new_project_part2' %>
<a href="<%= @project_info_url %>"><%= @project_info_url %></a>
</p>

<%= t 'report_mailer.new_project_part3_html',
      project_info_url: @project_info_url %>
<p>
<%= t 'report_mailer.ending' %>
</p>
