Congratulations!

According to the information that you've provided,
your project has earned the CII best practices 'passing' badge.
See <%= @project_info_url %> for more.

Please add your badge to your project and/or repository site; you've earned it:
* In markdown you can add this:
  [![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/<%= @project.id %>/badge)](https://bestpractices.coreinfrastructure.org/projects/<%= @project.id %>)
* In HTML you can add this:
  <a href="https://bestpractices.coreinfrastructure.org/projects/<%= @project.id %>"><img src="https://bestpractices.coreinfrastructure.org/projects/<%= @project.id %>/badge"></a>

We strongly encourage you to add or improve justification text,
including adding URLs that point to more information.

If you have suggestions on how to improve the criteria or
badge web application, please file an issue at:
https://github.com/linuxfoundation/cii-best-practices-badge/issues

If you made changes to your project to get a badge, please let us know
via email at cii-badges-questions@lists.coreinfrastructure.org.
One of our goals is to encourage projects to make some improvements.
We put some of these reports on the public wiki; please let us know
if you do NOT want the changes publicly posted at
https://github.com/linuxfoundation/cii-best-practices-badge/wiki/Impacts

Thank you, and congratulations.

<%= t 'report_mailer.ending' %>
