<header class='navbar navbar-fixed-top navbar-inverse nav-color'>
  <div class='container'>
    <%= link_to image_tag('badge.png', {height: 70, width: 100}), root_path, id: 'logo' %>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to 'BACKGROUND', background_path  %></li>
        <li><%= link_to 'CRITERIA', criteria_path %></li>
        <li><%= link_to 'PROJECTS', projects_path %></li>
        <li><%= link_to 'LOG IN', '#' %></li>
      </ul>
    </nav>
  <div>
</header>
