<h1 class='center'><%= t('unsubscribe.header') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p class="text-center">
      <%= t('unsubscribe.description') %>
    </p>

    <%= form_with url: unsubscribe_path, method: :post, local: true do |f| %>
      <%# Hidden fields to pass the actual values %>
      <%= hidden_field_tag :email, @email %>
      <%= hidden_field_tag :token, @token %>
      <%= hidden_field_tag :issued, @issued %>

      <%# Read-only display fields %>
      <%= f.label :email, t('unsubscribe.email_label') %>
      <%= f.email_field :email, value: @email, readonly: true, 
                        class: "form-control", 
                        style: "background-color: #f5f5f5;" %>

      <%= f.label :issued, t('unsubscribe.issued_label') %>
      <%= f.text_field :issued, value: @issued, readonly: true,
                       class: "form-control",
                       style: "background-color: #f5f5f5;" %>

      <%= f.label :token, t('unsubscribe.token_label') %>
      <%= f.text_field :token, value: (@token ? "#{@token[0..8]}..." : ""), readonly: true,
                       class: "form-control",
                       style: "background-color: #f5f5f5;" %>

      <div class="text-center">
        <%= f.submit t('unsubscribe.submit'), class: "btn btn-primary",
                     data: { confirm: t('unsubscribe.confirm_message'),
                             disable_with: t('unsubscribe.processing') } %>
      </div>
    <% end %>
  </div>
</div>
