<header class='navbar navbar-fixed-top navbar-inverse nav-color'>
  <div class='container container_padding'>
    <%= link_to t(:cii_best_practices, scope: :layouts), root_path, id: 'logo' %>
    <%= yield :insert_progress_bar %>
    <nav>
      <div class='nav navbar-nav navbar-left'>
        <br>
      </div>
      <ul class='nav navbar-nav navbar-right'>
        <%= yield :nav_extras %>
        <li><%= link_to t(:projects, scope: :layouts), projects_path %></li>
        <% if logged_in? %>
          <!--li><%= link_to t(:users, scope: :layouts), users_path %></li-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu reverse-dropdown">
              <li><%= link_to t(:profile, scope: :layouts), current_user %></li>
              <% if current_user.provider == 'local' %>
                <li><%= link_to t(:settings, scope: :layouts), edit_user_path(current_user) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to t(:logout_html, scope: :layouts), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(:signup_html, scope: :layouts), signup_path %></li>
          <li><%= link_to t(:login_html, scope: :layouts), login_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
