<header class='navbar navbar-fixed-top navbar-inverse nav-color'>
  <div class='container container_padding'>
    <%= link_to 'CII Best Practices', root_path, id: 'logo' %>
    <nav>
      <div class='nav navbar-nav navbar-left'>
        <br>
      </div>
      <ul class='nav navbar-nav navbar-right'>
        <%= yield :nav_extras %>
        <li><%= link_to 'Projects', projects_path %></li>
        <% if logged_in? %>
          <!--li><%= link_to "Users", users_path %></li-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu nav-color">
              <li><%= link_to "Profile", current_user %></li>
              <% if current_user.provider == 'local' %>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to '<span class="glyphicon glyphicon-log-in"></span> Logout'.html_safe, logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, signup_path %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, login_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
